PASSSBCommon/V1/GetProfileOCC/resources/OCCGetProfile.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="OCCGetProfileOrder"
     targetNamespace="http://xmlns.oracle.com/SBAplPassarela/PASSSBCommon/OCCGetProfileOrder"
     xmlns:tns="http://xmlns.oracle.com/SBAplPassarela/PASSSBCommon/OCCGetProfileOrder"
     xmlns:inp1="http://TargetNamespace.com/OCCGetProfileOrder_orderRequest_response"
     xmlns:inp2="http://TargetNamespace.com/OCCGetProfileOrder_profileRequest_response"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:inp3="http://TargetNamespace.com/GetEnrichOrderProfile_OrderProfileOCC_request"
     xmlns:inp4="http://TargetNamespace.com/OCCGetProfileOrder_products_response"
    >
    <plnk:partnerLinkType name="OCCGetProfileOrder">
        <plnk:role name="OCCGetProfileOrderProvider" portType="tns:OCCGetProfileOrder_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/OCCGetProfileOrder_orderRequest_response"
                 schemaLocation="nxsd_OrderRes.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/OCCGetProfileOrder_profileRequest_response"
                 schemaLocation="nxsd_ProfileRes.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/GetEnrichOrderProfile_OrderProfileOCC_request"
                 schemaLocation="nxsd_ProfileOCCReq.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/OCCGetProfileOrder_products_response"
                 schemaLocation="nxsd_ProductRes.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="Rest_EmptyMessage"/>
    <wsdl:message name="orderRequest_outputMessage">
        <wsdl:part name="reply" element="inp1:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="profileRequest_outputMessage">
        <wsdl:part name="reply" element="inp2:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="orders_inputMessage">
        <wsdl:part name="request" element="inp3:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="orders_outputMessage">
        <wsdl:part name="reply" element="inp1:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="profiles_outputMessage">
        <wsdl:part name="reply" element="inp2:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="profile_inputMessage">
        <wsdl:part name="request" element="inp3:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="profile_outputMessage">
        <wsdl:part name="reply" element="inp2:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="products_inputMessage">
        <wsdl:part name="request" element="inp3:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="products_outputMessage">
        <wsdl:part name="reply" element="inp4:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="profilePut_inputMessage">
        <wsdl:part name="request" element="inp3:Root-Element"/>
    </wsdl:message>
    <wsdl:portType name="OCCGetProfileOrder_ptt">
        <wsdl:operation name="orderRequest">
            <wsdl:input message="tns:Rest_EmptyMessage"/>
            <wsdl:output message="tns:orderRequest_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="profileRequest">
            <wsdl:input message="tns:Rest_EmptyMessage"/>
            <wsdl:output message="tns:profileRequest_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="orders">
            <wsdl:input message="tns:orders_inputMessage"/>
            <wsdl:output message="tns:orders_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="profiles">
            <wsdl:input message="tns:Rest_EmptyMessage"/>
            <wsdl:output message="tns:profiles_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="profile">
            <wsdl:input message="tns:profile_inputMessage"/>
            <wsdl:output message="tns:profile_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="products">
            <wsdl:input message="tns:products_inputMessage"/>
            <wsdl:output message="tns:products_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="profilePut">
            <wsdl:input message="tns:profilePut_inputMessage"/>
            <wsdl:output message="tns:Rest_EmptyMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="OCCGetProfileOrder_ptt-binding" type="tns:OCCGetProfileOrder_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="orderRequest">
            <soap:operation soapAction="orderRequest"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="profileRequest">
            <soap:operation soapAction="profileRequest"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="orders">
            <soap:operation soapAction="orders"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="profiles">
            <soap:operation soapAction="profiles"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="profile">
            <soap:operation soapAction="profile"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="products">
            <soap:operation soapAction="products"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="profilePut">
            <soap:operation soapAction="profilePut"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>
