PASSSBAbandonedCart/v1/Resources/nxsd_AbandonedCartReq.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://TargetNamespace.com/AbandonedCart_idleCart_request"
            targetNamespace="http://TargetNamespace.com/AbandonedCart_idleCart_request" elementFormDefault="qualified"
            xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" nxsd:version="JSON" nxsd:encoding="US-ASCII">
  <xsd:element name="Root-Element">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="idleCart">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="taxPriceInfo">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="cityTax" type="xsd:integer"/>
                    <xsd:element name="secondaryCurrencyTaxAmount" type="xsd:integer"/>
                    <xsd:element name="amount" type="xsd:integer"/>
                    <xsd:element name="valueAddedTax" type="xsd:integer"/>
                    <xsd:element name="countyTax" type="xsd:integer"/>
                    <xsd:element name="isTaxIncluded" type="xsd:string"/>
                    <xsd:element name="miscTax" type="xsd:integer"/>
                    <xsd:element name="districtTax" type="xsd:integer"/>
                    <xsd:element name="stateTax" type="xsd:integer"/>
                    <xsd:element name="countryTax" type="xsd:integer"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="secondaryCurrencyCode" type="xsd:string"/>
              <xsd:element name="shippingGroups">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="taxPriceInfo">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="cityTax" type="xsd:integer"/>
                          <xsd:element name="amount" type="xsd:integer"/>
                          <xsd:element name="valueAddedTax" type="xsd:integer"/>
                          <xsd:element name="countyTax" type="xsd:integer"/>
                          <xsd:element name="isTaxIncluded" type="xsd:string"/>
                          <xsd:element name="miscTax" type="xsd:integer"/>
                          <xsd:element name="districtTax" type="xsd:integer"/>
                          <xsd:element name="stateTax" type="xsd:integer"/>
                          <xsd:element name="countryTax" type="xsd:integer"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="priceInfo">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="amount" type="xsd:integer"/>
                          <xsd:element name="total" type="xsd:integer"/>
                          <xsd:element name="shipping" type="xsd:integer"/>
                          <xsd:element name="shippingSurchargeValue" type="xsd:integer"/>
                          <xsd:element name="tax" type="xsd:integer"/>
                          <xsd:element name="subTotal" type="xsd:integer"/>
                          <xsd:element name="currencyCode" type="xsd:string"/>
                          <xsd:element name="totalWithoutTax" type="xsd:integer"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="discountInfo"/>
                    <xsd:element name="recurringChargePriceInfo" type="xsd:string"/>
                    <xsd:element name="shippingMethod">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="secondaryCurrencyTaxAmount" type="xsd:integer"/>
                          <xsd:element name="shippingTax" type="xsd:integer"/>
                          <xsd:element name="cost" type="xsd:integer"/>
                          <xsd:element name="taxCode" type="xsd:string"/>
                          <xsd:element name="value" type="xsd:string"/>
                          <xsd:element name="shippingMethodDescription" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="shippingAddress">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="lastName" type="xsd:string"/>
                          <xsd:element name="country" type="xsd:string"/>
                          <xsd:element name="address3" type="xsd:string"/>
                          <xsd:element name="address2" type="xsd:string"/>
                          <xsd:element name="city" type="xsd:string"/>
                          <xsd:element name="address1" type="xsd:string"/>
                          <xsd:element name="prefix" type="xsd:string"/>
                          <xsd:element name="companyName" type="xsd:string"/>
                          <xsd:element name="postalCode" type="xsd:string"/>
                          <xsd:element name="jobTitle" type="xsd:string"/>
                          <xsd:element name="county" type="xsd:string"/>
                          <xsd:element name="suffix" type="xsd:string"/>
                          <xsd:element name="firstName" type="xsd:string"/>
                          <xsd:element name="phoneNumber" type="xsd:string"/>
                          <xsd:element name="faxNumber" type="xsd:string"/>
                          <xsd:element name="middleName" type="xsd:string"/>
                          <xsd:element name="state" type="xsd:string"/>
                          <xsd:element name="email" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="items">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="unitPrice" type="xsd:integer"/>
                          <xsd:element name="amount" type="xsd:integer"/>
                          <xsd:element name="quantity" type="xsd:integer"/>
                          <xsd:element name="productId" type="xsd:string"/>
                          <xsd:element name="rawTotalPrice" type="xsd:integer"/>
                          <xsd:element name="salePrice" type="xsd:integer"/>
                          <xsd:element name="detailedItemPriceInfo">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="discounted" type="xsd:string"/>
                                <xsd:element name="secondaryCurrencyTaxAmount" type="xsd:integer"/>
                                <xsd:element name="amount" type="xsd:integer"/>
                                <xsd:element name="quantity" type="xsd:integer"/>
                                <xsd:element name="tax" type="xsd:integer"/>
                                <xsd:element name="orderDiscountShare" type="xsd:integer"/>
                                <xsd:element name="detailedUnitPrice" type="xsd:integer"/>
                                <xsd:element name="currencyCode" type="xsd:string"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="shippingSurchargeValue" type="xsd:integer"/>
                          <xsd:element name="availabilityDate" type="xsd:string"/>
                          <xsd:element name="discountAmount" type="xsd:integer"/>
                          <xsd:element name="externalData">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="values">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="value" type="xsd:string"/>
                                      <xsd:element name="key" type="xsd:string"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="name" type="xsd:string"/>
                                <xsd:element name="actionCode" type="xsd:string"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="preOrderQuantity" type="xsd:integer"/>
                          <xsd:element name="catRefId" type="xsd:string"/>
                          <xsd:element name="discountInfo"/>
                          <xsd:element name="price" type="xsd:integer"/>
                          <xsd:element name="onSale" type="xsd:string"/>
                          <xsd:element name="actionCode" type="xsd:string"/>
                          <xsd:element name="backOrderQuantity" type="xsd:integer"/>
                          <xsd:element name="commercerItemId" type="xsd:string"/>
                          <xsd:element name="stateDetailsAsUser" type="xsd:string"/>
                          <xsd:element name="listPrice" type="xsd:integer"/>
                          <xsd:element name="commercerId" type="xsd:string"/>
                          <xsd:element name="status" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="lastModifiedTime" type="xsd:integer"/>
              <xsd:element name="cartUrl" type="xsd:string"/>
              <xsd:element name="creationTime" type="xsd:integer"/>
              <xsd:element name="lastModifiedDate" type="xsd:string"/>
              <xsd:element name="orderId" type="xsd:string"/>
              <xsd:element name="shippingMethod">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="cost" type="xsd:integer"/>
                    <xsd:element name="value" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="payments"/>
              <xsd:element name="profile">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="lastName" type="xsd:string"/>
                    <xsd:element name="firstName" type="xsd:string"/>
                    <xsd:element name="loyaltyPrograms">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="programName" type="xsd:string"/>
                          <xsd:element name="repositoryId" type="xsd:string"/>
                          <xsd:element name="membershipId" type="xsd:string"/>
                          <xsd:element name="programId" type="xsd:string"/>
                          <xsd:element name="status" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="receiveEmail" type="xsd:string"/>
                    <xsd:element name="id" type="xsd:string"/>
                    <xsd:element name="locale" type="xsd:string"/>
                    <xsd:element name="sitePropertiesList">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="site">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="id" type="xsd:string"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="properties">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="receiveEmail" type="xsd:string"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="email" type="xsd:string"/>
                    <xsd:element name="daytimeTelephoneNumber" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="orderStatus" type="xsd:string"/>
              <xsd:element name="creationDate" type="xsd:string"/>
              <xsd:element name="orderProfileId" type="xsd:string"/>
              <xsd:element name="priceInfo">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="amount" type="xsd:integer"/>
                    <xsd:element name="total" type="xsd:integer"/>
                    <xsd:element name="shipping" type="xsd:integer"/>
                    <xsd:element name="shippingSurchargeValue" type="xsd:integer"/>
                    <xsd:element name="tax" type="xsd:integer"/>
                    <xsd:element name="subTotal" type="xsd:integer"/>
                    <xsd:element name="currencyCode" type="xsd:string"/>
                    <xsd:element name="totalWithoutTax" type="xsd:integer"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="site">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="siteURL" type="xsd:string"/>
                    <xsd:element name="siteName" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="discountInfo">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="orderCouponsMap"/>
                    <xsd:element name="orderDiscount" type="xsd:integer"/>
                    <xsd:element name="shippingDiscount" type="xsd:integer"/>
                    <xsd:element name="orderImplicitDiscountList"/>
                    <xsd:element name="unclaimedCouponsMap"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="exchangeRate" type="xsd:integer"/>
              <xsd:element name="shoppingCart">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="numberOfItems" type="xsd:integer"/>
                    <xsd:element name="items">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="unitPrice" type="xsd:integer"/>
                          <xsd:element name="primaryThumbImageURL" type="xsd:string"/>
                          <xsd:element name="quantity" type="xsd:integer"/>
                          <xsd:element name="productId" type="xsd:string"/>
                          <xsd:element name="rawTotalPrice" type="xsd:integer"/>
                          <xsd:element name="dynamicProperties">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="id" type="xsd:string"/>
                                <xsd:element name="label" type="xsd:string"/>
                                <xsd:element name="value" type="xsd:string"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="detailedItemPriceInfo">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="secondaryCurrencyTaxAmount" type="xsd:integer"/>
                                <xsd:element name="discounted" type="xsd:string"/>
                                <xsd:element name="amount" type="xsd:integer"/>
                                <xsd:element name="quantity" type="xsd:integer"/>
                                <xsd:element name="tax" type="xsd:integer"/>
                                <xsd:element name="orderDiscountShare" type="xsd:integer"/>
                                <xsd:element name="detailedUnitPrice" type="xsd:integer"/>
                                <xsd:element name="currencyCode" type="xsd:string"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="displayName" type="xsd:string"/>
                          <xsd:element name="shippingSurchargeValue" type="xsd:integer"/>
                          <xsd:element name="isItemValid" type="xsd:string"/>
                          <xsd:element name="description" type="xsd:string"/>
                          <xsd:element name="catRefId" type="xsd:string"/>
                          <xsd:element name="configuratorId" type="xsd:string"/>
                          <xsd:element name="discountInfo"/>
                          <xsd:element name="price" type="xsd:integer"/>
                          <xsd:element name="variant">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="optionValue" type="xsd:string"/>
                                <xsd:element name="optionName" type="xsd:string"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="externalPriceDetails">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="externalPriceQuantity" type="xsd:integer"/>
                                <xsd:element name="externalPrice" type="xsd:integer"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="onSale" type="xsd:string"/>
                          <xsd:element name="commerceItems">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="quantity" type="xsd:integer"/>
                                <xsd:element name="productId" type="xsd:string"/>
                                <xsd:element name="catalogRefId" type="xsd:string"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="shippingAddress">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="lastName" type="xsd:string"/>
                    <xsd:element name="country" type="xsd:string"/>
                    <xsd:element name="address3" type="xsd:string"/>
                    <xsd:element name="address2" type="xsd:string"/>
                    <xsd:element name="city" type="xsd:string"/>
                    <xsd:element name="address1" type="xsd:string"/>
                    <xsd:element name="prefix" type="xsd:string"/>
                    <xsd:element name="companyName" type="xsd:string"/>
                    <xsd:element name="postalCode" type="xsd:string"/>
                    <xsd:element name="jobTitle" type="xsd:string"/>
                    <xsd:element name="county" type="xsd:string"/>
                    <xsd:element name="suffix" type="xsd:string"/>
                    <xsd:element name="firstName" type="xsd:string"/>
                    <xsd:element name="phoneNumber" type="xsd:string"/>
                    <xsd:element name="faxNumber" type="xsd:string"/>
                    <xsd:element name="middleName" type="xsd:string"/>
                    <xsd:element name="state" type="xsd:string"/>
                    <xsd:element name="email" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="siteId" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:annotation xmlns="">
    <xsd:appinfo>NXSDSAMPLE=</xsd:appinfo>
    <xsd:appinfo>USEHEADER=false</xsd:appinfo>
  </xsd:annotation>
  <xsd:annotation xmlns="">
    <xsd:appinfo>NXSDSAMPLE=</xsd:appinfo>
    <xsd:appinfo>USEHEADER=false</xsd:appinfo>
  </xsd:annotation>
</xsd:schema>