PASSSBQueryAccountBalance/v1/Resources/ERPPassarelaQueryAccountBalance.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="ERPPassarelaQueryAccountBalance">RestReference</doc>
   <grammars>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/ERPPassarelaQueryAccountBalance_query_response"
                        schemaLocation="nxsd_QueryAccountRes.xsd"/>
        </xsd:schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/SBAplPassarela/PASSSBQueryAccountBalance/ERPPassarelaQueryAccountBalance" elementFormDefault="qualified">
            <element name="query_params">
                <complexType>
                    <sequence>
                        <element name="cpf" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
   </grammars>
   <resources>
      <resource path="/QueryAccountBalance/{cpf}">
         <method name="GET" soa:wsdlOperation="query">
            <request soa:paramElement="pns:query_params" xmlns:pns="http://xmlns.oracle.com/SBAplPassarela/PASSSBQueryAccountBalance/ERPPassarelaQueryAccountBalance">
               <param name="cpf" style="template" soa:expression="$msg.request/pns:cpf" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:Root-Element" xmlns:cns="http://TargetNamespace.com/ERPPassarelaQueryAccountBalance_query_response"/>
            </response>
         </method>
      </resource>
   </resources>
</application>
