PASSSBQueryAccountBalance/v1/Resources/ERPPassarelaQueryAccountBalance.wsdl

<wsdl:definitions name="ERPPassarelaQueryAccountBalance" targetNamespace="http://xmlns.oracle.com/SBAplPassarela/PASSSBQueryAccountBalance/ERPPassarelaQueryAccountBalance" xmlns:tns="http://xmlns.oracle.com/SBAplPassarela/PASSSBQueryAccountBalance/ERPPassarelaQueryAccountBalance" xmlns:inp1="http://TargetNamespace.com/ERPPassarelaQueryAccountBalance_query_response" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="ERPPassarelaQueryAccountBalance">
        <plnk:role name="ERPPassarelaQueryAccountBalanceProvider" portType="tns:ERPPassarelaQueryAccountBalance_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/ERPPassarelaQueryAccountBalance_query_response"
                        schemaLocation="nxsd_QueryAccountRes.xsd"/>
        </xsd:schema>
        <schema targetNamespace="http://xmlns.oracle.com/SBAplPassarela/PASSSBQueryAccountBalance/ERPPassarelaQueryAccountBalance" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="query_params">
                <complexType>
                    <sequence>
                        <element name="cpf" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="query_inputMessage">
        <wsdl:part name="request" element="tns:query_params"/>
    </wsdl:message>
    <wsdl:message name="query_outputMessage">
        <wsdl:part name="reply" element="inp1:Root-Element"/>
    </wsdl:message>
    <wsdl:portType name="ERPPassarelaQueryAccountBalance_ptt">
        <wsdl:operation name="query">
            <wsdl:input message="tns:query_inputMessage"/>
            <wsdl:output message="tns:query_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ERPPassarelaQueryAccountBalance_ptt-binding" type="tns:ERPPassarelaQueryAccountBalance_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="query">
            <soap:operation soapAction="query"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>