PASSSBGenericPaymentGateway/V1/Resources/Generic/AdyenPaymentGatewayGeneric.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="AdyenPaymentGatewayGeneric"
     targetNamespace="http://xmlns.oracle.com/SBAplPassarela/PASSSBGenericPaymentGateway/AdyenPaymentGatewayGeneric"
     xmlns:tns="http://xmlns.oracle.com/SBAplPassarela/PASSSBGenericPaymentGateway/AdyenPaymentGatewayGeneric"
     xmlns:inp1="http://TargetNamespace.com/AdyenPaymentGateway_authoriseGeneric_request"
     xmlns:inp2="http://TargetNamespace.com/AdyenPaymentGateway_authoriseGeneric_response"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:inp3="http://TargetNamespace.com/AdyenPaymentGateway_authorise_int_request"
     xmlns:inp4="http://TargetNamespace.com/AdyenPaymentGateway_authorise_int_response"
    >
    <plnk:partnerLinkType name="AdyenPaymentGatewayGeneric">
        <plnk:role name="AdyenPaymentGatewayGenericProvider" portType="tns:AdyenPaymentGatewayGeneric_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/AdyenPaymentGateway_authoriseGeneric_request"
                 schemaLocation="nxsd_authorisePaymentReq.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/AdyenPaymentGateway_authoriseGeneric_response"
                 schemaLocation="nxsd_authorisePaymentResp.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/AdyenPaymentGateway_authorise_int_request"
                 schemaLocation="nxsd_InterfaceAuthorisePaymentReq.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/AdyenPaymentGateway_authorise_int_response"
                 schemaLocation="nxsd_InterfaceAuthorisePaymentRes.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="authorise_inputMessage">
        <wsdl:part name="request" element="inp1:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="authorise_outputMessage">
        <wsdl:part name="reply" element="inp2:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="authorise_fault1Message">
        <wsdl:part name="fault_fault1" element="inp2:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="authorise_fault2Message">
        <wsdl:part name="fault_fault2" element="inp2:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="authorise_int_inputMessage">
        <wsdl:part name="request" element="inp3:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="authorise_int_outputMessage">
        <wsdl:part name="reply" element="inp4:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="authorise3d_in_inputMessage">
        <wsdl:part name="request" element="inp3:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="authorise3d_in_outputMessage">
        <wsdl:part name="reply" element="inp4:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="authorise3d_inputMessage">
        <wsdl:part name="request" element="inp1:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="authorise3d_outputMessage">
        <wsdl:part name="reply" element="inp2:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="authorise3d_fault1Message">
        <wsdl:part name="fault_fault1" element="inp2:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="authorise3d_fault2Message">
        <wsdl:part name="fault_fault2" element="inp2:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="authorise3d_fault3Message">
        <wsdl:part name="fault_fault3" element="inp2:Root-Element"/>
    </wsdl:message>
    <wsdl:portType name="AdyenPaymentGatewayGeneric_ptt">
        <wsdl:operation name="authorise">
            <wsdl:input message="tns:authorise_inputMessage"/>
            <wsdl:output message="tns:authorise_outputMessage"/>
            <wsdl:fault name="fault1" message="tns:authorise_fault1Message"/>
            <wsdl:fault name="fault2" message="tns:authorise_fault2Message"/>
        </wsdl:operation>
        <wsdl:operation name="authorise_int">
            <wsdl:input message="tns:authorise_int_inputMessage"/>
            <wsdl:output message="tns:authorise_int_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="authorise3d_in">
            <wsdl:input message="tns:authorise3d_in_inputMessage"/>
            <wsdl:output message="tns:authorise3d_in_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="authorise3d">
            <wsdl:input message="tns:authorise3d_inputMessage"/>
            <wsdl:output message="tns:authorise3d_outputMessage"/>
            <wsdl:fault name="fault1" message="tns:authorise3d_fault1Message"/>
            <wsdl:fault name="fault2" message="tns:authorise3d_fault2Message"/>
            <wsdl:fault name="fault3" message="tns:authorise3d_fault3Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AdyenPaymentGatewayGeneric_ptt-binding" type="tns:AdyenPaymentGatewayGeneric_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="authorise">
            <soap:operation soapAction="authorise"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="authorise_int">
            <soap:operation soapAction="authorise_int"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="authorise3d_in">
            <soap:operation soapAction="authorise3d_in"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="authorise3d">
            <soap:operation soapAction="authorise3d"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>
