PASSSBUpdateShopper/v1/Resources/ResponsysUpdateShopperBS.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions name="ResponsysUpdateShopperBS"
                  targetNamespace="http://xmlns.oracle.com/SBAplPassarela/PASSSBUpdateShopper/ResponsysUpdateShopperBS"
                  xmlns:tns="http://xmlns.oracle.com/SBAplPassarela/PASSSBUpdateShopper/ResponsysUpdateShopperBS"
                  xmlns:inp1="http://TargetNamespace.com/ResponsysUpdateShopperBS_PutEvent_request"
                  xmlns:inp2="http://TargetNamespace.com/ResponsysUpdateShopperBS_PutEvent_response"
                  xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:inp3="http://TargetNamespace.com/ResponsysUpdateShopperBS_PutEvent_request">
  <plnk:partnerLinkType name="ResponsysUpdateShopperBS">
    <plnk:role name="ResponsysUpdateShopperBSProvider" portType="tns:ResponsysUpdateShopperBS_ptt"/>
  </plnk:partnerLinkType>
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://TargetNamespace.com/ResponsysUpdateShopperBS_PutEvent_request"
                  schemaLocation="nxsd_FilaContactsReq.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://TargetNamespace.com/ResponsysUpdateShopperBS_PutEvent_response"
                  schemaLocation="nxsd_FilaContactRes.xsd"/>
    </xsd:schema>
   
  </wsdl:types>
  <wsdl:message name="Fila_Contacts_List_inputMessage">
    <wsdl:part name="request" element="inp1:Root-Element"/>
  </wsdl:message>
  <wsdl:message name="Fila_Contacts_List_outputMessage">
    <wsdl:part name="reply" element="inp2:Root-Element"/>
  </wsdl:message>
  <wsdl:message name="PutEvent_inputMessage">
    <wsdl:part name="request" element="inp3:Root-Element"/>
  </wsdl:message>
  <wsdl:message name="PutEvent_outputMessage">
    <wsdl:part name="reply" element="inp2:Root-Element"/>
  </wsdl:message>
  <wsdl:portType name="ResponsysUpdateShopperBS_ptt">
    <wsdl:operation name="PutEvent">
      <wsdl:input message="tns:PutEvent_inputMessage"/>
      <wsdl:output message="tns:PutEvent_outputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="PutEvent">
      <wsdl:input message="tns:PutEvent_inputMessage"/>
      <wsdl:output message="tns:PutEvent_outputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ResponsysUpdateShopperBS_ptt-binding" type="tns:ResponsysUpdateShopperBS_ptt">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="PutEvent">
      <soap:operation soapAction="PutEvent"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
