PASSSBUpdateShopper/v1/Resources/UpdateShoppersPS.wsdl

<wsdl:definitions name="UpdateShoppersPS" targetNamespace="http://xmlns.oracle.com/SBAplPassarela/PASSSBUpdateShopper/UpdateShoppersPS" xmlns:tns="http://xmlns.oracle.com/SBAplPassarela/PASSSBUpdateShopper/UpdateShoppersPS" xmlns:inp1="http://TargetNamespace.com/ResponsysUpdateShopperPS_profile_request" xmlns:inp2="http://TargetNamespace.com/ResponsysUpdateShopperPS_profile_response" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:inp3="http://TargetNamespace.com/ResponsysUpdateShopperBS_PutEvent_request">
    <plnk:partnerLinkType name="UpdateShoppersPS">
        <plnk:role name="UpdateShoppersPSProvider" portType="tns:UpdateShoppersPS_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/ResponsysUpdateShopperPS_profile_request" schemaLocation="nxsd_ProfileReq.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/ResponsysUpdateShopperPS_profile_response" schemaLocation="nxsd_ProfileRes.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/ResponsysUpdateShopperBS_PutEvent_request" schemaLocation="nxsd_FilaContactsReq.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="update_shopper_inputMessage">
        <wsdl:part name="request" element="inp1:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="update_shopper_outputMessage">
        <wsdl:part name="reply" element="inp2:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="Operation1_inputMessage">
        <wsdl:part name="request" element="inp1:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="Operation1_outputMessage">
        <wsdl:part name="reply" element="inp3:Root-Element"/>
    </wsdl:message>
    <wsdl:portType name="UpdateShoppersPS_ptt">
        <wsdl:operation name="update_shopper">
            <wsdl:input message="tns:update_shopper_inputMessage"/>
            <wsdl:output message="tns:update_shopper_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="Operation1">
            <wsdl:input message="tns:Operation1_inputMessage"/>
            <wsdl:output message="tns:Operation1_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="UpdateShoppersPS_ptt-binding" type="tns:UpdateShoppersPS_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="update_shopper">
            <soap:operation soapAction="update_shopper"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Operation1">
            <soap:operation soapAction="Operation1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>