PASSSBStatusChange/v1/Resources/OCCStatusChange.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="OCCStatusChange"
     targetNamespace="http://xmlns.oracle.com/SBAplPassarela/PASSSBStatusChange/OCCStatusChange"
     xmlns:tns="http://xmlns.oracle.com/SBAplPassarela/PASSSBStatusChange/OCCStatusChange"
     xmlns:inp1="http://TargetNamespace.com/OCCStatusChange_updateOrder_request"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:inp3="http://TargetNamespace.com/OCCStatusChange_updateOrder_response"
    >
    <plnk:partnerLinkType name="OCCStatusChange">
        <plnk:role name="OCCStatusChangeProvider" portType="tns:OCCStatusChange_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/OCCStatusChange_updateOrder_request"
                 schemaLocation="nxsd_updateStatusOrderReq.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/OCCStatusChange_updateOrder_response"
                 schemaLocation="nxsd_updateStatusOrderRes.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="updateOrder_inputMessage">
        <wsdl:part name="request" element="inp1:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="updateOrder_outputMessage">
        <wsdl:part name="reply" element="inp3:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="updateOrder_fault1Message">
        <wsdl:part name="fault_fault1" element="inp3:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="updateOrderPayment_inputMessage">
        <wsdl:part name="request" element="inp1:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="updateOrderPayment_outputMessage">
        <wsdl:part name="reply" element="inp3:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="updateOrderShipping_inputMessage">
        <wsdl:part name="request" element="inp1:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="updateOrderShipping_outputMessage">
        <wsdl:part name="reply" element="inp3:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="updateOrderPaymentShipping_inputMessage">
        <wsdl:part name="request" element="inp1:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="updateOrderPaymentShipping_outputMessage">
        <wsdl:part name="reply" element="inp3:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="Rest_EmptyMessage"/>
    <wsdl:portType name="OCCStatusChange_ptt">
        <wsdl:operation name="updateOrder">
            <wsdl:input message="tns:updateOrder_inputMessage"/>
            <wsdl:output message="tns:updateOrder_outputMessage"/>
            <wsdl:fault name="fault1" message="tns:updateOrder_fault1Message"/>
        </wsdl:operation>
        <wsdl:operation name="updateOrderPayment">
            <wsdl:input message="tns:updateOrderPayment_inputMessage"/>
            <wsdl:output message="tns:updateOrderPayment_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="updateOrderShipping">
            <wsdl:input message="tns:updateOrderShipping_inputMessage"/>
            <wsdl:output message="tns:updateOrderShipping_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="updateOrderPaymentShipping">
            <wsdl:input message="tns:updateOrderPaymentShipping_inputMessage"/>
            <wsdl:output message="tns:updateOrderPaymentShipping_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="OCCStatusChange_ptt-binding" type="tns:OCCStatusChange_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="updateOrder">
            <soap:operation soapAction="updateOrder"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateOrderPayment">
            <soap:operation soapAction="updateOrderPayment"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateOrderShipping">
            <soap:operation soapAction="updateOrderShipping"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateOrderPaymentShipping">
            <soap:operation soapAction="updateOrderPaymentShipping"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>
