PASSSBStatusChange/v1/Resources/StatusChangePS.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:inp1="http://TargetNamespace.com/OCCStatusChange_updateOrder_request" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="StatusChangePS">RestService</doc>
   <grammars>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/OCCStatusChange_updateOrder_request" schemaLocation="nxsd_updateStatusOrderReq.xsd"/>
        </xsd:schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/OCCStatusChange_updateOrder_response" schemaLocation="nxsd_updateStatusOrderRes.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/orders/{id}">
         <method name="PUT" soa:wsdlOperation="updateOrder">
            <request>
               <param name="id" style="template" soa:expression="$property.id" type="xsd:string"/>
               <representation mediaType="application/json" element="cns:Root-Element" xmlns:cns="http://TargetNamespace.com/OCCStatusChange_updateOrder_request"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:Root-Element" xmlns:cns="http://TargetNamespace.com/OCCStatusChange_updateOrder_response"/>
            </response>
         </method>
      </resource>
      <resource path="/orders/{id}/paymentGroups/{idPayment}">
         <method name="PUT" soa:wsdlOperation="updateOrderPayment">
            <request>
               <param name="id" style="template" soa:expression="$property.id" type="xsd:string"/>
               <param name="idPayment" style="template" soa:expression="$property.idPayment" type="xsd:string"/>
               <representation mediaType="application/json" element="cns:Root-Element" xmlns:cns="http://TargetNamespace.com/OCCStatusChange_updateOrder_request"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:Root-Element" xmlns:cns="http://TargetNamespace.com/OCCStatusChange_updateOrder_response"/>
            </response>
         </method>
      </resource>
      <resource path="/orders/{id}/shippingGroups/{idShipping}">
         <method name="PUT" soa:wsdlOperation="updateOrderShipping">
            <request>
              <param name="id" style="template" soa:expression="$property.id" type="xsd:string"/>
               <param name="idPayment" style="template" soa:expression="$property.idPayment" type="xsd:string"/>
               <param name="idShipping" style="template" soa:expression="$property.idShipping" type="xsd:string"/>
               <representation mediaType="application/json" element="cns:Root-Element" xmlns:cns="http://TargetNamespace.com/OCCStatusChange_updateOrder_request"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:Root-Element" xmlns:cns="http://TargetNamespace.com/OCCStatusChange_updateOrder_response"/>
            </response>
         </method>
      </resource>
      <resource path="/orders/{id}/paymentGroups/{idPayment}/shippingGroups/{idShipping}">
         <method name="PUT" soa:wsdlOperation="updateOrderPaymentShipping">
            <request>
               <param name="id" style="template" soa:expression="$property.id" type="xsd:string"/>
               <param name="idShipping" style="template" soa:expression="$property.idShipping" type="xsd:string"/>
               <param name="idPayment" style="template" soa:expression="$property.idPayment" type="xsd:string"/>
               <representation mediaType="application/json" element="cns:Root-Element" xmlns:cns="http://TargetNamespace.com/OCCStatusChange_updateOrder_request"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:Root-Element" xmlns:cns="http://TargetNamespace.com/OCCStatusChange_updateOrder_response"/>
            </response>
         </method>
      </resource>
   </resources>
</application>
