PASSSBClassifyImages/v1/Resources/OCCClassifyImagesBS.wsdl

<wsdl:definitions name="OCCClassifyImagesBS" targetNamespace="http://xmlns.oracle.com/SBAplPassarela/PASSSBClassifyImages/OCCClassifyImagesBS" xmlns:tns="http://xmlns.oracle.com/SBAplPassarela/PASSSBClassifyImages/OCCClassifyImagesBS" xmlns:inp1="http://TargetNamespace.com/OCCClassifyImagesBS_getProducts_request" xmlns:inp2="http://TargetNamespace.com/OCCClassifyImagesBS_getProducts_response" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:inp3="http://TargetNamespace.com/OCCClassifyImagesBS_putSkus_request">
    <plnk:partnerLinkType name="OCCClassifyImagesBS">
        <plnk:role name="OCCClassifyImagesBSProvider" portType="tns:OCCClassifyImagesBS_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/OCCClassifyImagesBS_getProducts_request" schemaLocation="nxsd_idRequest.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/OCCClassifyImagesBS_getProducts_response" schemaLocation="nxsd_productsResponse.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/OCCClassifyImagesBS_putSkus_request" schemaLocation="nxsd_skusRequest.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getProducts_inputMessage">
        <wsdl:part name="request" element="inp1:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="getProducts_outputMessage">
        <wsdl:part name="reply" element="inp2:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="putSkus_inputMessage">
        <wsdl:part name="request" element="inp3:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="Rest_EmptyMessage"/>
    <wsdl:portType name="OCCClassifyImagesBS_ptt">
        <wsdl:operation name="getProducts">
            <wsdl:input message="tns:getProducts_inputMessage"/>
            <wsdl:output message="tns:getProducts_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="putSkus">
            <wsdl:input message="tns:putSkus_inputMessage"/>
            <wsdl:output message="tns:Rest_EmptyMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="OCCClassifyImagesBS_ptt-binding" type="tns:OCCClassifyImagesBS_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getProducts">
            <soap:operation soapAction="getProducts"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="putSkus">
            <soap:operation soapAction="putSkus"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>