PASSSBClassifyImages/v1/Resources/OCCClassifyImagesBS.wadl

<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns0="http://TargetNamespace.com/OCCClassifyImagesBS_getProducts_request" xmlns="http://wadl.dev.java.net/2009/02" xmlns:ns1="http://TargetNamespace.com/OCCClassifyImagesBS_putSkus_request">
   <doc title="OCCClassifyImagesBS">RestReference</doc>
   <grammars>
      <xsd:schema>
            <xsd:import namespace="http://TargetNamespace.com/OCCClassifyImagesBS_getProducts_request" schemaLocation="nxsd_idRequest.xsd"/>
        </xsd:schema>
      <xsd:schema>
            <xsd:import namespace="http://TargetNamespace.com/OCCClassifyImagesBS_getProducts_response" schemaLocation="nxsd_productsResponse.xsd"/>
        </xsd:schema>
      <xsd:schema>
            <xsd:import namespace="http://TargetNamespace.com/OCCClassifyImagesBS_putSkus_request" schemaLocation="nxsd_skusRequest.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/products/{id}">
         <method name="GET" soa:wsdlOperation="getProducts">
            <request soa:paramElement="pns:Root-Element" xmlns:pns="http://TargetNamespace.com/OCCClassifyImagesBS_getProducts_request">
               <param name="id" style="template" soa:expression="$msg.request/ns0:id" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:Root-Element" xmlns:cns="http://TargetNamespace.com/OCCClassifyImagesBS_getProducts_response"/>
            </response>
         </method>
      </resource>
      <resource path="/skus">
         <method name="PUT" soa:wsdlOperation="putSkus">
            <request>
               <representation mediaType="application/json" element="cns:Root-Element" xmlns:cns="http://TargetNamespace.com/OCCClassifyImagesBS_putSkus_request"/>
            </request>
            <response status="204"/>
         </method>
      </resource>
   </resources>
</application>