PASSSBMashupCalculoFrete/V1/Resources/IntelipostQuoteByProductBS.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="IntelipostQuoteByProductBusiness"
     targetNamespace="http://xmlns.oracle.com/SBAplPassarela/PASSSBMashupCalculoFrete/IntelipostQuoteByProductBusiness"
     xmlns:tns="http://xmlns.oracle.com/SBAplPassarela/PASSSBMashupCalculoFrete/IntelipostQuoteByProductBusiness"
     xmlns:inp1="http://TargetNamespace.com/RestService_QuoteByProduct_request"
     xmlns:inp2="http://TargetNamespace.com/RestService_QuoteByProduct_response"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:inp3="http://TargetNamespace.com/IntelipostQuoteByProductBusiness_quote_request"
     xmlns:inp4="http://TargetNamespace.com/RestService_Quote_response"
     xmlns:inp5="http://TargetNamespace.com/IntelipostQuoteByProductPS_quote_by_product_request"
     xmlns:inp6="http://TargetNamespace.com/IntelipostQuoteByProductPS_quote_by_product_response"
     xmlns:inp7="http://TargetNamespace.com/RestService_QuoteByProduct_response"
    >
    <plnk:partnerLinkType name="IntelipostQuoteByProductBusiness">
        <plnk:role name="IntelipostQuoteByProductBusinessProvider" portType="tns:IntelipostQuoteByProductBusiness_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/RestService_QuoteByProduct_request" schemaLocation="../Resources/nxsd_schema_QuoteByProductReq.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/RestService_QuoteByProduct_response"
                 schemaLocation="../Resources/nxsd_schema_QuoteByProductRes.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/IntelipostQuoteByProductPS_quote_by_product_request"
                 schemaLocation="nxsd_schema_InterfaceQuoteByProductReq.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/IntelipostQuoteByProductPS_quote_by_product_response"
                 schemaLocation="nxsd_schema_InterfaceQuoteByProductRes.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/RestService_QuoteByProduct_response"
                 schemaLocation="nxsd_schema_QuoteByProductRes.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="quote_by_product_inputMessage">
        <wsdl:part name="request" element="inp1:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="quote_by_product_outputMessage">
        <wsdl:part name="reply" element="inp2:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="quote_by_product_fault2Message">
        <wsdl:part name="fault_fault2" element="inp2:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="quote_by_product_fault3Message">
        <wsdl:part name="fault_fault3" element="inp2:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="quote_by_product_int_inputMessage">
        <wsdl:part name="request" element="inp5:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="quote_by_product_int_outputMessage">
        <wsdl:part name="reply" element="inp2:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="quote_by_product_int_fault1Message">
        <wsdl:part name="fault_fault1" element="inp6:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="quote_by_product_int_fault2Message">
        <wsdl:part name="fault_fault2" element="inp6:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="quote_by_product_in_inputMessage">
        <wsdl:part name="request" element="inp5:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="quote_by_product_in_outputMessage">
        <wsdl:part name="reply" element="inp6:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="quote_by_product_in_fault1Message">
        <wsdl:part name="fault_fault1" element="inp6:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="quote_by_product_in_fault2Message">
        <wsdl:part name="fault_fault2" element="inp6:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="quote_by_product_in_fault3Message">
        <wsdl:part name="fault_fault3" element="inp6:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="quote_fault1Message">
        <wsdl:part name="fault_fault1" element="inp2:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="quote_fault2Message">
        <wsdl:part name="fault_fault2" element="inp2:Root-Element"/>
    </wsdl:message>
    <wsdl:portType name="IntelipostQuoteByProductBusiness_ptt">
        <wsdl:operation name="quote_by_product">
            <wsdl:input message="tns:quote_by_product_inputMessage"/>
            <wsdl:output message="tns:quote_by_product_outputMessage"/>
            <wsdl:fault name="fault1" message="tns:quote_by_product_outputMessage"/>
            <wsdl:fault name="fault2" message="tns:quote_by_product_fault2Message"/>
            <wsdl:fault name="fault3" message="tns:quote_by_product_fault3Message"/>
        </wsdl:operation>
        <wsdl:operation name="quote_by_product_int">
            <wsdl:input message="tns:quote_by_product_int_inputMessage"/>
            <wsdl:output message="tns:quote_by_product_int_outputMessage"/>
            <wsdl:fault name="fault1" message="tns:quote_by_product_int_fault1Message"/>
            <wsdl:fault name="fault2" message="tns:quote_by_product_int_fault2Message"/>
        </wsdl:operation>
        <wsdl:operation name="quote_by_product_in">
            <wsdl:input message="tns:quote_by_product_in_inputMessage"/>
            <wsdl:output message="tns:quote_by_product_in_outputMessage"/>
            <wsdl:fault name="fault1" message="tns:quote_by_product_in_fault1Message"/>
            <wsdl:fault name="fault2" message="tns:quote_by_product_in_fault2Message"/>
            <wsdl:fault name="fault3" message="tns:quote_by_product_in_fault3Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="IntelipostQuoteByProductBusiness_ptt-binding" type="tns:IntelipostQuoteByProductBusiness_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="quote_by_product">
            <soap:operation soapAction="quote_by_product"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="quote_by_product_int">
            <soap:operation soapAction="quote_by_product_int"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="quote_by_product_in">
            <soap:operation soapAction="quote_by_product_in"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>
