PASSSBCommon/V1/GetEnrichOrderProfileOCC/resources/OCCGetProfileOrder.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="OCCGetProfileOrder">RestReference</doc>
   <grammars>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/OCCGetProfileOrder_orderRequest_response"
                        schemaLocation="nxsd_OrderRes.xsd"/>
        </xsd:schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/OCCGetProfileOrder_profileRequest_response"
                        schemaLocation="nxsd_ProfileRes.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/orders/{id}">
         <method name="GET" soa:wsdlOperation="orderRequest">
            <request>
               <param name="id" style="template" soa:expression="$property.id" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:Root-Element" xmlns:cns="http://TargetNamespace.com/OCCGetProfileOrder_orderRequest_response"/>
            </response>
         </method>
      </resource>
      <resource path="/profiles/{idProfile}">
         <method name="GET" soa:wsdlOperation="profileRequest">
            <request>
               <param name="idProfile" style="template" soa:expression="$property.idProfile" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:Root-Element" xmlns:cns="http://TargetNamespace.com/OCCGetProfileOrder_profileRequest_response"/>
            </response>
         </method>
      </resource>
   </resources>
</application>
