PASSSBWebhookOrderSubmit/v1/Resources/ERPOrderSubmit.wsdl

<wsdl:definitions name="ERPOrderSubmit" targetNamespace="http://xmlns.oracle.com/SBAplPassarela/PASSSBWebhookOrderSubmit/ERPOrderSubmit" xmlns:tns="http://xmlns.oracle.com/SBAplPassarela/PASSSBWebhookOrderSubmit/ERPOrderSubmit" xmlns:inp1="http://TargetNamespace.com/ERPOrderSubmit_orderSumit_request" xmlns:inp2="http://TargetNamespace.com/ERPOrderSubmit_orderSumit_response" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="ERPOrderSubmit">
        <plnk:role name="ERPOrderSubmitProvider" portType="tns:ERPOrderSubmit_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/ERPOrderSubmit_orderSumit_request" schemaLocation="nxsd_orderSubmitERPReq.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/ERPOrderSubmit_orderSumit_response" schemaLocation="nxsd_orderSubmitERPRes.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="orderSubmit_inputMessage">
        <wsdl:part name="request" element="inp1:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="orderSubmit_outputMessage">
        <wsdl:part name="reply" element="inp2:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="orderSubmit_fault1Message">
        <wsdl:part name="fault_fault1" element="inp2:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="Rest_EmptyMessage"/>
    <wsdl:portType name="ERPOrderSubmit_ptt">
        <wsdl:operation name="orderSubmit">
            <wsdl:input message="tns:orderSubmit_inputMessage"/>
            <wsdl:output message="tns:orderSubmit_outputMessage"/>
            <wsdl:fault name="fault1" message="tns:orderSubmit_fault1Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ERPOrderSubmit_ptt-binding" type="tns:ERPOrderSubmit_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="orderSubmit">
            <soap:operation soapAction="orderSubmit"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>