PASSSBWebhookOrderSubmit/v1/Resources/nxsd_submitOrderReq.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://TargetNamespace.com/WebhookOrderSubmitPS_submit_order_request"
            targetNamespace="http://TargetNamespace.com/WebhookOrderSubmitPS_submit_order_request"
            elementFormDefault="qualified" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" nxsd:version="JSON"
            nxsd:encoding="utf-8">
  <xsd:element name="Root-Element">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="site">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="siteURL" type="xsd:string"/>
              <xsd:element name="siteName" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="discountInfo">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="unclaimedCouponMultiPromotions"/>
              <xsd:element name="orderCouponsMap" type="xsd:string"/>
              <xsd:element name="orderDiscount" type="xsd:string"/>
              <xsd:element name="shippingDiscount" type="xsd:string"/>
              <xsd:element name="orderImplicitDiscountList">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="promotionLongDesc" type="xsd:string"/>
                    <xsd:element name="promotionName" type="xsd:string"/>
                    <xsd:element name="promotionLevel" type="xsd:string"/>
                    <xsd:element name="totalAdjustment" type="xsd:string"/>
                    <xsd:element name="promotionDesc" type="xsd:string"/>
                    <xsd:element name="promotionId" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="unclaimedCouponsMap" type="xsd:string"/>
              <xsd:element name="claimedCouponMultiPromotions" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="order">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="gwp" type="xsd:string"/>
              <xsd:element name="secondaryCurrencyCode"  type="xsd:string"/>
              <xsd:element name="submittedDate" type="xsd:string"/>
              <xsd:element name="salesChannel" type="xsd:string"/>
              <xsd:element name="configuratorId" type="xsd:string"/>
              <xsd:element name="organizationId" type="xsd:string"/>
              <xsd:element name="parcelas" type="xsd:string"/>
              <xsd:element name="relationships">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="paymentGroupId" type="xsd:string"/>
                    <xsd:element name="amount" type="xsd:string"/>
                    <xsd:element name="relationshipType" type="xsd:string"/>
                    <xsd:element name="id" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="customAttribute" type="xsd:string"/>
              <xsd:element name="exchangeRate" type="xsd:string"/>
              <xsd:element name="id" type="xsd:string"/>
              <xsd:element name="state" type="xsd:string"/>
              <xsd:element name="taxCalculated" type="xsd:string"/>
              <xsd:element name="commerceItems"  maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="deactivationDate" type="xsd:string"/>
                    <xsd:element name="returnedQuantity" type="xsd:string"/>
                    <xsd:element name="availabilityDate" type="xsd:string"/>
                    <xsd:element name="billingAccountId" type="xsd:string"/>
                    <xsd:element name="preOrderQuantity" type="xsd:string"/>
                    <xsd:element name="priceInfo">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="discounted" type="xsd:string"/>
                          <xsd:element name="amount" type="xsd:string"/>
                          <xsd:element name="rawTotalPrice" type="xsd:string"/>
                          <xsd:element name="salePrice" type="xsd:string"/>
                          <xsd:element name="priceListId" type="xsd:string"/>
                          <xsd:element name="quantityDiscounted" type="xsd:string"/>
                          <xsd:element name="amountIsFinal" type="xsd:string"/>
                          <xsd:element name="onSale" type="xsd:string"/>
                          <xsd:element name="shippingSurcharge" type="xsd:string"/>
                          <xsd:element name="discountable" type="xsd:string"/>
                          <xsd:element name="currentPriceDetailsSorted">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="secondaryCurrencyTaxAmount" type="xsd:string"/>
                                <xsd:element name="discounted" type="xsd:string"/>
                                <xsd:element name="amount" type="xsd:string"/>
                                <xsd:element name="quantity" type="xsd:string"/>
                                <xsd:element name="amountIsFinal" type="xsd:string"/>
                                <xsd:element name="range">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="lowBound" type="xsd:string"/>
                                      <xsd:element name="highBound" type="xsd:string"/>
                                      <xsd:element name="size" type="xsd:string"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="tax" type="xsd:string"/>
                                <xsd:element name="orderDiscountShare" type="xsd:string"/>
                                <xsd:element name="detailedUnitPrice" type="xsd:string"/>
                                <xsd:element name="currencyCode" type="xsd:string"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="currencyCode" type="xsd:string"/>
                          <xsd:element name="listPrice" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="catalogId"  type="xsd:string"/>
                    <xsd:element name="assetId"  type="xsd:string"/>
                    <xsd:element name="externalRecurringChargeDetails"  type="xsd:string"/>
                    <xsd:element name="externalPriceDetails"  type="xsd:string"/>
                    <xsd:element name="actionCode"  type="xsd:string"/>
                    <xsd:element name="giftPaper"  type="xsd:string"/>
                    <xsd:element name="id" type="xsd:string"/>
                    <xsd:element name="serviceId"  type="xsd:string"/>
                    <xsd:element name="giftText"  type="xsd:string"/>
                    <xsd:element name="serviceAccountId"  type="xsd:string"/>
                    <xsd:element name="quantity" type="xsd:string" />
                    <xsd:element name="productId" type="xsd:string"  />
                    <xsd:element name="externalId"  type="xsd:string"/>
                    <xsd:element name="catalogRefId" type="xsd:string"/>
                    <xsd:element name="customerAccountId"  type="xsd:string"/>
                    <xsd:element name="recurringChargePriceInfo"  type="xsd:string"/>
                    <xsd:element name="catalogKey"  type="xsd:string"/>
                    <xsd:element name="productDisplayName" type="xsd:string"/>
                    <xsd:element name="giftCard"  type="xsd:string"/>
                    <xsd:element name="activationDate"  type="xsd:string"/>
                    <xsd:element name="backOrderQuantity" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="boletoBancarioURL"  type="xsd:string"/>
              <xsd:element name="shippingGroups"  maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="shippingMethod" type="xsd:string"/>
                    <xsd:element name="description" type="xsd:string"/>
                    <xsd:element name="submittedDate" type="xsd:string"/>
                    <xsd:element name="priceInfo">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="secondaryCurrencyTaxAmount" type="xsd:string"/>
                          <xsd:element name="discounted" type="xsd:string"/>
                          <xsd:element name="shippingTax" type="xsd:string"/>
                          <xsd:element name="amount" type="xsd:string"/>
                          <xsd:element name="rawShipping" type="xsd:string"/>
                          <xsd:element name="amountIsFinal" type="xsd:string"/>
                          <xsd:element name="currencyCode" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="shipOnDate" type="xsd:string"/>
                    <xsd:element name="actualShipDate" type="xsd:string"/>
                    <xsd:element name="specialInstructions" type="xsd:string"/>
                    <xsd:element name="shippingAddress">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="lastName" type="xsd:string"/>
                          <xsd:element name="country" type="xsd:string"/>
                          <xsd:element name="address3" type="xsd:string"/>
                          <xsd:element name="address2" type="xsd:string"/>
                          <xsd:element name="city" type="xsd:string"/>
                          <xsd:element name="prefix" type="xsd:string"/>
                          <xsd:element name="address1" type="xsd:string"/>
                          <xsd:element name="postalCode" type="xsd:string"/>
                          <xsd:element name="companyName" type="xsd:string"/>
                          <xsd:element name="jobTitle" type="xsd:string"/>
                          <xsd:element name="county" type="xsd:string"/>
                          <xsd:element name="suffix" type="xsd:string"/>
                          <xsd:element name="ownerId" type="xsd:string"/>
                          <xsd:element name="firstName" type="xsd:string"/>
                          <xsd:element name="phoneNumber" type="xsd:string"/>
                          <xsd:element name="faxNumber" type="xsd:string"/>
                          <xsd:element name="middleName" type="xsd:string"/>
                          <xsd:element name="state" type="xsd:string"/>
                          <xsd:element name="email" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="commerceItemRelationships">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="commerceItemId" type="xsd:string"/>
                          <xsd:element name="amount" type="xsd:string"/>
                          <xsd:element name="quantity" type="xsd:string"/>
                          <xsd:element name="relationshipType" type="xsd:string"/>
                          <xsd:element name="returnedQuantity" type="xsd:string"/>
                          <xsd:element name="range">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="lowBound" type="xsd:string"/>
                                <xsd:element name="highBound" type="xsd:string"/>
                                <xsd:element name="size" type="xsd:string"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="commerceItemExternalId"/>
                          <xsd:element name="state" type="xsd:string"/>
                          <xsd:element name="id" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="state" type="xsd:string"/>
                    <xsd:element name="id" type="xsd:string"/>
                    <xsd:element name="stateDetail" type="xsd:string"/>
                    <xsd:element name="trackingNumber" type="xsd:string"/>
                    <xsd:element name="shippingGroupClassType" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="freezeDate" type="xsd:string"/>
              <xsd:element name="IdTelemarketingUser" type="xsd:string"/>
              <xsd:element name="taxExempt" type="xsd:string"/>
              <xsd:element name="fraudManualReview" type="xsd:string"/>
              <xsd:element name="profile">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="lastName" type="xsd:string"/>
                    <xsd:element name="firstName" type="xsd:string"/>
                    <xsd:element name="shippingAddress">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="country" type="xsd:string"/>
                          <xsd:element name="phoneNumber" type="xsd:string"/>
                          <xsd:element name="address3" type="xsd:string"/>
                          <xsd:element name="address2" type="xsd:string"/>
                          <xsd:element name="city" type="xsd:string"/>
                          <xsd:element name="address1" type="xsd:string"/>
                          <xsd:element name="postalCode" type="xsd:string"/>
                          <xsd:element name="county" type="xsd:string"/>
                          <xsd:element name="state" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="middleName"/>
                    <xsd:element name="parentOrganization"/>
                    <xsd:element name="email" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="paymentInitiatedEmailSent" type="xsd:string"/>
              <xsd:element name="shippingGroupCount" type="xsd:string"/>
              <xsd:element name="taxExemptionCode" type="xsd:string"/>
              <xsd:element name="profileId" type="xsd:string"/>
              <xsd:element name="notaFiscal" type="xsd:string"/>
              <xsd:element name="activeQuoteOrderId" type="xsd:string"/>
              <xsd:element name="BackofficeOrderStatus" type="xsd:string"/>
              <xsd:element name="agentId" type="xsd:string"/>
              <xsd:element name="lastModifiedTime" type="xsd:string"/>
              <xsd:element name="priceGroupId" type="xsd:string"/>
              <xsd:element name="creationTime" type="xsd:string"/>
              <xsd:element name="sourceSystem" type="xsd:string"/>
              <xsd:element name="locale" type="xsd:string"/>
              <xsd:element name="paymentGroups"  maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="PONumber" type="xsd:string"/>
                    <xsd:element name="amountAuthorized" type="xsd:string"/>
                    <xsd:element name="amount" type="xsd:string"/>
                    <xsd:element name="gatewayName" type="xsd:string"/>
                    <xsd:element name="paymentProps" type="xsd:string"/>
                    <xsd:element name="submittedDate" type="xsd:string"/>
                    <xsd:element name="authorizationStatus">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="amount" type="xsd:string"/>
                          <xsd:element name="statusProps">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="boletobancario.data" type="xsd:string"/>
                                <xsd:element name="boletobancario.dueDate" type="xsd:string"/>
                                <xsd:element name="responseDescription" type="xsd:string"/>
                                <xsd:element name="boletobancario.barCodeReference" type="xsd:string"/>
                                <xsd:element name="merchantTransactionId" type="xsd:string"/>
                                <xsd:element name="boletobancario.url" type="xsd:string"/>
                                <xsd:element name="currencyCode" type="xsd:string"/>
                                <xsd:element name="boletobancario.expirationDate" type="xsd:string"/>
                                <xsd:element name="responseCode" type="xsd:string"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="transactionSuccess" type="xsd:string"/>
                          <xsd:element name="errorMessage" type="xsd:string"/>
                          <xsd:element name="transactionId" type="xsd:string"/>
                          <xsd:element name="transactionTimestamp" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="paymentGroupClassType" type="xsd:string"/>
                    <xsd:element name="paymentMethod" type="xsd:string"/>
                    <xsd:element name="billingAddress">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="lastName" type="xsd:string"/>
                          <xsd:element name="country" type="xsd:string"/>
                          <xsd:element name="address3" type="xsd:string"/>
                          <xsd:element name="address2" type="xsd:string"/>
                          <xsd:element name="city" type="xsd:string"/>
                          <xsd:element name="prefix" type="xsd:string"/>
                          <xsd:element name="address1" type="xsd:string"/>
                          <xsd:element name="postalCode" type="xsd:string"/>
                          <xsd:element name="companyName" type="xsd:string"/>
                          <xsd:element name="jobTitle" type="xsd:string"/>
                          <xsd:element name="county" type="xsd:string"/>
                          <xsd:element name="suffix" type="xsd:string"/>
                          <xsd:element name="ownerId" type="xsd:string"/>
                          <xsd:element name="firstName" type="xsd:string"/>
                          <xsd:element name="phoneNumber" type="xsd:string"/>
                          <xsd:element name="faxNumber" type="xsd:string"/>
                          <xsd:element name="middleName" type="xsd:string"/>
                          <xsd:element name="state" type="xsd:string"/>
                          <xsd:element name="email" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="state" type="xsd:string"/>
                    <xsd:element name="id" type="xsd:string"/>
                    <xsd:element name="currencyCode" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="scheduledDeliveryDate"/>
              <xsd:element name="priceInfo">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="discounted" type="xsd:string"/>
                    <xsd:element name="frequencyAmountTotals" type="xsd:string"/>
                    <xsd:element name="amount" type="xsd:string"/>
                    <xsd:element name="total" type="xsd:string"/>
                    <xsd:element name="shipping" type="xsd:string"/>
                    <xsd:element name="manualAdjustmentTotal" type="xsd:string"/>
                    <xsd:element name="amountIsFinal" type="xsd:string"/>
                    <xsd:element name="discountAmount" type="xsd:string"/>
                    <xsd:element name="tax" type="xsd:string"/>
                    <xsd:element name="rawSubtotal" type="xsd:string"/>
                    <xsd:element name="frequencyTaxTotals" type="xsd:string"/>
                    <xsd:element name="currencyCode" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="catalogId"/>
              <xsd:element name="scheduledDeliveryPeriod"/>
              <xsd:element name="totalCommerceItemCount" type="xsd:string"/>
              <xsd:element name="externalContext" type="xsd:string"/>
              <xsd:element name="quoteInfo" type="xsd:string"/>
              <xsd:element name="urlBoletoBancario" type="xsd:string"/>
              <xsd:element name="taxPriceInfo">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="secondaryCurrencyTaxAmount" type="xsd:string"/>
                    <xsd:element name="discounted" type="xsd:string"/>
                    <xsd:element name="valueAddedTax" type="xsd:string"/>
                    <xsd:element name="amount" type="xsd:string"/>
                    <xsd:element name="countyTax" type="xsd:string"/>
                    <xsd:element name="isTaxIncluded" type="xsd:string"/>
                    <xsd:element name="miscTax" type="xsd:string"/>
                    <xsd:element name="districtTax" type="xsd:string"/>
                    <xsd:element name="stateTax" type="xsd:string"/>
                    <xsd:element name="miscTaxInfo"  type="xsd:string"/>
                    <xsd:element name="countryTax" type="xsd:string"/>
                    <xsd:element name="cityTax" type="xsd:string"/>
                    <xsd:element name="amountIsFinal" type="xsd:string"/>
                    <xsd:element name="currencyCode" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="fraudResultType" type="xsd:string"/>
              <xsd:element name="lastModifiedDate" type="xsd:string"/>
              <xsd:element name="BrowserInfo" type="xsd:string"/>
              <xsd:element name="giftwraps" type="xsd:string"/>
              <xsd:element name="paymentGroupCount" type="xsd:string"/>
              <xsd:element name="recurringChargePriceInfo"/>
              <xsd:element name="organization" type="xsd:string"/>
              <xsd:element name="siteId" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
