PASSSBWebhookOrderSubmit/v1/Resources/nxsd_submitOrderReq.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://TargetNamespace.com/WebhookOrderSubmitPS_submit_order_request" targetNamespace="http://TargetNamespace.com/WebhookOrderSubmitPS_submit_order_request" elementFormDefault="qualified" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" nxsd:version="JSON" nxsd:encoding="US-ASCII">
   <xsd:element name="Root-Element">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="site">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="siteURL" type="xsd:string"/>
                     <xsd:element name="siteName" type="xsd:string"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="order">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="taxPriceInfo">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="discounted" type="xsd:string"/>
                              <xsd:element name="cityTax" type="xsd:integer"/>
                              <xsd:element name="secondaryCurrencyTaxAmount" type="xsd:integer"/>
                              <xsd:element name="amount" type="xsd:integer"/>
                              <xsd:element name="valueAddedTax" type="xsd:integer"/>
                              <xsd:element name="countyTax" type="xsd:integer"/>
                              <xsd:element name="isTaxIncluded" type="xsd:string"/>
                              <xsd:element name="amountIsFinal" type="xsd:string"/>
                              <xsd:element name="districtTax" type="xsd:integer"/>
                              <xsd:element name="stateTax" type="xsd:integer"/>
                              <xsd:element name="currencyCode" type="xsd:string"/>
                              <xsd:element name="countryTax" type="xsd:integer"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element name="secondaryCurrencyCode" type="xsd:string"/>
                     <xsd:element name="shippingGroups">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="shippingMethod" type="xsd:string"/>
                              <xsd:element name="description" type="xsd:string"/>
                              <xsd:element name="submittedDate" type="xsd:string"/>
                              <xsd:element name="priceInfo">
                                 <xsd:complexType>
                                    <xsd:sequence>
                                       <xsd:element name="discounted" type="xsd:string"/>
                                       <xsd:element name="secondaryCurrencyTaxAmount" type="xsd:integer"/>
                                       <xsd:element name="shippingTax" type="xsd:integer"/>
                                       <xsd:element name="amount" type="xsd:integer"/>
                                       <xsd:element name="rawShipping" type="xsd:integer"/>
                                       <xsd:element name="amountIsFinal" type="xsd:string"/>
                                       <xsd:element name="currencyCode" type="xsd:string"/>
                                    </xsd:sequence>
                                 </xsd:complexType>
                              </xsd:element>
                              <xsd:element name="shipOnDate" type="xsd:string"/>
                              <xsd:element name="actualShipDate" type="xsd:string"/>
                              <xsd:element name="specialInstructions" type="xsd:string"/>
                              <xsd:element name="shippingAddress">
                                 <xsd:complexType>
                                    <xsd:sequence>
                                       <xsd:element name="lastName" type="xsd:string"/>
                                       <xsd:element name="country" type="xsd:string"/>
                                       <xsd:element name="address3" type="xsd:string"/>
                                       <xsd:element name="address2" type="xsd:string"/>
                                       <xsd:element name="city" type="xsd:string"/>
                                       <xsd:element name="address1" type="xsd:string"/>
                                       <xsd:element name="prefix" type="xsd:string"/>
                                       <xsd:element name="companyName" type="xsd:string"/>
                                       <xsd:element name="postalCode" type="xsd:string"/>
                                       <xsd:element name="jobTitle" type="xsd:string"/>
                                       <xsd:element name="county" type="xsd:string"/>
                                       <xsd:element name="ownerId" type="xsd:string"/>
                                       <xsd:element name="suffix" type="xsd:string"/>
                                       <xsd:element name="firstName" type="xsd:string"/>
                                       <xsd:element name="phoneNumber" type="xsd:string"/>
                                       <xsd:element name="faxNumber" type="xsd:string"/>
                                       <xsd:element name="middleName" type="xsd:string"/>
                                       <xsd:element name="state" type="xsd:string"/>
                                       <xsd:element name="id" type="xsd:string"/>
                                       <xsd:element name="email" type="xsd:string"/>
                                    </xsd:sequence>
                                 </xsd:complexType>
                              </xsd:element>
                              <xsd:element name="commerceItemRelationships">
                                 <xsd:complexType>
                                    <xsd:sequence>
                                       <xsd:element name="serviceAccountId" type="xsd:string"/>
                                       <xsd:element name="deactivationDate" type="xsd:string"/>
                                       <xsd:element name="amount" type="xsd:integer"/>
                                       <xsd:element name="quantity" type="xsd:integer"/>
                                       <xsd:element name="relationshipType" type="xsd:string"/>
                                       <xsd:element name="returnedQuantity" type="xsd:integer"/>
                                       <xsd:element name="externalData">
                                          <xsd:complexType>
                                             <xsd:sequence>
                                                <xsd:element name="values">
                                                   <xsd:complexType>
                                                      <xsd:sequence>
                                                         <xsd:element name="value" type="xsd:string"/>
                                                         <xsd:element name="key" type="xsd:string"/>
                                                      </xsd:sequence>
                                                   </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element name="name" type="xsd:string"/>
                                                <xsd:element name="actionCode" type="xsd:string"/>
                                             </xsd:sequence>
                                          </xsd:complexType>
                                       </xsd:element>
                                       <xsd:element name="range">
                                          <xsd:complexType>
                                             <xsd:sequence>
                                                <xsd:element name="lowBound" type="xsd:integer"/>
                                                <xsd:element name="highBound" type="xsd:integer"/>
                                                <xsd:element name="size" type="xsd:integer"/>
                                             </xsd:sequence>
                                          </xsd:complexType>
                                       </xsd:element>
                                       <xsd:element name="billingAccountId" type="xsd:string"/>
                                       <xsd:element name="commerceItemExternalId" type="xsd:string"/>
                                       <xsd:element name="commerceItemId" type="xsd:string"/>
                                       <xsd:element name="customerAccountId" type="xsd:string"/>
                                       <xsd:element name="assetId" type="xsd:string"/>
                                       <xsd:element name="actionCode" type="xsd:string"/>
                                       <xsd:element name="id" type="xsd:string"/>
                                       <xsd:element name="activationDate" type="xsd:string"/>
                                       <xsd:element name="serviceId" type="xsd:string"/>
                                    </xsd:sequence>
                                 </xsd:complexType>
                              </xsd:element>
                              <xsd:element name="id" type="xsd:string"/>
                              <xsd:element name="state" type="xsd:string"/>
                              <xsd:element name="stateDetail" type="xsd:string"/>
                              <xsd:element name="trackingNumber" type="xsd:string"/>
                              <xsd:element name="handlingInstructions" type="xsd:string"/>
                              <xsd:element name="shippingGroupClassType" type="xsd:string"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element name="lastModifiedTime" type="xsd:integer"/>
                     <xsd:element name="creationTime" type="xsd:integer"/>
                     <xsd:element name="sourceSystem" type="xsd:string"/>
                     <xsd:element name="profile">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="lastName" type="xsd:string"/>
                              <xsd:element name="firstName" type="xsd:string"/>
                              <xsd:element name="loyaltyPrograms">
                                 <xsd:complexType>
                                    <xsd:sequence>
                                       <xsd:element name="programName" type="xsd:string"/>
                                       <xsd:element name="repositoryId" type="xsd:string"/>
                                       <xsd:element name="membershipId" type="xsd:string"/>
                                       <xsd:element name="programId" type="xsd:string"/>
                                       <xsd:element name="status" type="xsd:string"/>
                                    </xsd:sequence>
                                 </xsd:complexType>
                              </xsd:element>
                              <xsd:element name="shippingAddress">
                                 <xsd:complexType>
                                    <xsd:sequence>
                                       <xsd:element name="country" type="xsd:string"/>
                                       <xsd:element name="phoneNumber" type="xsd:string"/>
                                       <xsd:element name="address3" type="xsd:string"/>
                                       <xsd:element name="address2" type="xsd:string"/>
                                       <xsd:element name="city" type="xsd:string"/>
                                       <xsd:element name="address1" type="xsd:string"/>
                                       <xsd:element name="postalCode" type="xsd:string"/>
                                       <xsd:element name="county" type="xsd:string"/>
                                       <xsd:element name="state" type="xsd:string"/>
                                    </xsd:sequence>
                                 </xsd:complexType>
                              </xsd:element>
                              <xsd:element name="middleName" type="xsd:string"/>
                              <xsd:element name="email" type="xsd:string"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element name="shippingGroupCount" type="xsd:integer"/>
                     <xsd:element name="submittedDate" type="xsd:string"/>
                     <xsd:element name="paymentGroups">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="expirationYear" type="xsd:string"/>
                              <xsd:element name="PONumber" type="xsd:string"/>
                              <xsd:element name="externalType" type="xsd:string"/>
                              <xsd:element name="amountAuthorized" type="xsd:integer"/>
                              <xsd:element name="amount" type="xsd:integer"/>
                              <xsd:element name="externalId" type="xsd:string"/>
                              <xsd:element name="expirationMonth" type="xsd:string"/>
                              <xsd:element name="creditCardType" type="xsd:string"/>
                              <xsd:element name="submittedDate" type="xsd:string"/>
                              <xsd:element name="authorizationStatus">
                                 <xsd:complexType>
                                    <xsd:sequence>
                                       <xsd:element name="amount" type="xsd:integer"/>
                                       <xsd:element name="transactionSuccess" type="xsd:string"/>
                                       <xsd:element name="errorMessage" type="xsd:string"/>
                                       <xsd:element name="transactionId" type="xsd:string"/>
                                       <xsd:element name="transactionTimestamp" type="xsd:string"/>
                                    </xsd:sequence>
                                 </xsd:complexType>
                              </xsd:element>
                              <xsd:element name="IIN" type="xsd:string"/>
                              <xsd:element name="token" type="xsd:string"/>
                              <xsd:element name="paymentGroupClassType" type="xsd:string"/>
                              <xsd:element name="creditCardNumber" type="xsd:string"/>
                              <xsd:element name="externalSubtype" type="xsd:string"/>
                              <xsd:element name="paymentMethod" type="xsd:string"/>
                              <xsd:element name="externalSourceId" type="xsd:string"/>
                              <xsd:element name="state" type="xsd:string"/>
                              <xsd:element name="id" type="xsd:string"/>
                              <xsd:element name="billingAddress">
                                 <xsd:complexType>
                                    <xsd:sequence>
                                       <xsd:element name="lastName" type="xsd:string"/>
                                       <xsd:element name="country" type="xsd:string"/>
                                       <xsd:element name="address3" type="xsd:string"/>
                                       <xsd:element name="address2" type="xsd:string"/>
                                       <xsd:element name="city" type="xsd:string"/>
                                       <xsd:element name="address1" type="xsd:string"/>
                                       <xsd:element name="prefix" type="xsd:string"/>
                                       <xsd:element name="postalCode" type="xsd:string"/>
                                       <xsd:element name="companyName" type="xsd:string"/>
                                       <xsd:element name="jobTitle" type="xsd:string"/>
                                       <xsd:element name="county" type="xsd:string"/>
                                       <xsd:element name="suffix" type="xsd:string"/>
                                       <xsd:element name="ownerId" type="xsd:string"/>
                                       <xsd:element name="firstName" type="xsd:string"/>
                                       <xsd:element name="phoneNumber" type="xsd:string"/>
                                       <xsd:element name="faxNumber" type="xsd:string"/>
                                       <xsd:element name="middleName" type="xsd:string"/>
                                       <xsd:element name="state" type="xsd:string"/>
                                       <xsd:element name="email" type="xsd:string"/>
                                    </xsd:sequence>
                                 </xsd:complexType>
                              </xsd:element>
                              <xsd:element name="stateDetail" type="xsd:string"/>
                              <xsd:element name="currencyCode" type="xsd:string"/>
                              <xsd:element name="expirationDayOfMonth" type="xsd:string"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element name="salesChannel" type="xsd:string"/>
                     <xsd:element name="giftwraps" type="xsd:string"/>
                     <xsd:element name="paymentGroupCount" type="xsd:integer"/>
                     <xsd:element name="organizationId" type="xsd:string"/>
                     <xsd:element name="priceInfo">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="discounted" type="xsd:string"/>
                              <xsd:element name="amount" type="xsd:integer"/>
                              <xsd:element name="total" type="xsd:integer"/>
                              <xsd:element name="shipping" type="xsd:integer"/>
                              <xsd:element name="amountIsFinal" type="xsd:string"/>
                              <xsd:element name="manualAdjustmentTotal" type="xsd:integer"/>
                              <xsd:element name="discountAmount" type="xsd:integer"/>
                              <xsd:element name="tax" type="xsd:integer"/>
                              <xsd:element name="rawSubtotal" type="xsd:integer"/>
                              <xsd:element name="currencyCode" type="xsd:string"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element name="exchangeRate" type="xsd:integer"/>
                     <xsd:element name="profileId" type="xsd:string"/>
                     <xsd:element name="siteId" type="xsd:string"/>
                     <xsd:element name="totalCommerceItemCount" type="xsd:integer"/>
                     <xsd:element name="state" type="xsd:string"/>
                     <xsd:element name="id" type="xsd:string"/>
                     <xsd:element name="notaFiscal" type="xsd:string"/>
                     <xsd:element name="commerceItems">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="deactivationDate" type="xsd:string"/>
                              <xsd:element name="returnedQuantity" type="xsd:integer"/>
                              <xsd:element name="availabilityDate" type="xsd:string"/>
                              <xsd:element name="externalData">
                                 <xsd:complexType>
                                    <xsd:sequence>
                                       <xsd:element name="values">
                                          <xsd:complexType>
                                             <xsd:sequence>
                                                <xsd:element name="value" type="xsd:string"/>
                                                <xsd:element name="key" type="xsd:string"/>
                                             </xsd:sequence>
                                          </xsd:complexType>
                                       </xsd:element>
                                       <xsd:element name="name" type="xsd:string"/>
                                       <xsd:element name="actionCode" type="xsd:string"/>
                                    </xsd:sequence>
                                 </xsd:complexType>
                              </xsd:element>
                              <xsd:element name="billingAccountId" type="xsd:string"/>
                              <xsd:element name="preOrderQuantity" type="xsd:integer"/>
                              <xsd:element name="configuratorId" type="xsd:string"/>
                              <xsd:element name="priceInfo">
                                 <xsd:complexType>
                                    <xsd:sequence>
                                       <xsd:element name="discounted" type="xsd:string"/>
                                       <xsd:element name="amount" type="xsd:integer"/>
                                       <xsd:element name="rawTotalPrice" type="xsd:integer"/>
                                       <xsd:element name="salePrice" type="xsd:integer"/>
                                       <xsd:element name="priceListId" type="xsd:string"/>
                                       <xsd:element name="quantityDiscounted" type="xsd:integer"/>
                                       <xsd:element name="amountIsFinal" type="xsd:string"/>
                                       <xsd:element name="shippingSurcharge" type="xsd:integer"/>
                                       <xsd:element name="onSale" type="xsd:string"/>
                                       <xsd:element name="discountable" type="xsd:string"/>
                                       <xsd:element name="currencyCode" type="xsd:string"/>
                                       <xsd:element name="currentPriceDetailsSorted">
                                          <xsd:complexType>
                                             <xsd:sequence>
                                                <xsd:element name="discounted" type="xsd:string"/>
                                                <xsd:element name="secondaryCurrencyTaxAmount" type="xsd:integer"/>
                                                <xsd:element name="amount" type="xsd:integer"/>
                                                <xsd:element name="quantity" type="xsd:integer"/>
                                                <xsd:element name="amountIsFinal" type="xsd:string"/>
                                                <xsd:element name="range">
                                                   <xsd:complexType>
                                                      <xsd:sequence>
                                                         <xsd:element name="lowBound" type="xsd:integer"/>
                                                         <xsd:element name="highBound" type="xsd:integer"/>
                                                         <xsd:element name="size" type="xsd:integer"/>
                                                      </xsd:sequence>
                                                   </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element name="tax" type="xsd:integer"/>
                                                <xsd:element name="orderDiscountShare" type="xsd:integer"/>
                                                <xsd:element name="detailedUnitPrice" type="xsd:integer"/>
                                                <xsd:element name="currencyCode" type="xsd:string"/>
                                             </xsd:sequence>
                                          </xsd:complexType>
                                       </xsd:element>
                                       <xsd:element name="listPrice" type="xsd:integer"/>
                                    </xsd:sequence>
                                 </xsd:complexType>
                              </xsd:element>
                              <xsd:element name="catalogId" type="xsd:string"/>
                              <xsd:element name="assetId" type="xsd:string"/>
                              <xsd:element name="externalPriceDetails">
                                 <xsd:complexType>
                                    <xsd:sequence>
                                       <xsd:element name="externalPriceQuantity" type="xsd:integer"/>
                                       <xsd:element name="externalPrice" type="xsd:integer"/>
                                    </xsd:sequence>
                                 </xsd:complexType>
                              </xsd:element>
                              <xsd:element name="actionCode" type="xsd:string"/>
                              <xsd:element name="id" type="xsd:string"/>
                              <xsd:element name="state" type="xsd:string"/>
                              <xsd:element name="stateDetail" type="xsd:string"/>
                              <xsd:element name="serviceId" type="xsd:string"/>
                              <xsd:element name="commerceItems">
                                 <xsd:complexType>
                                    <xsd:sequence>
                                       <xsd:element name="serviceAccountId" type="xsd:string"/>
                                       <xsd:element name="deactivationDate" type="xsd:string"/>
                                       <xsd:element name="quantity" type="xsd:integer"/>
                                       <xsd:element name="productId" type="xsd:string"/>
                                       <xsd:element name="externalData">
                                          <xsd:complexType>
                                             <xsd:sequence>
                                                <xsd:element name="values">
                                                   <xsd:complexType>
                                                      <xsd:sequence>
                                                         <xsd:element name="dynamic_property_key" type="xsd:string"/>
                                                      </xsd:sequence>
                                                   </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element name="name" type="xsd:string"/>
                                                <xsd:element name="actionCode" type="xsd:string"/>
                                             </xsd:sequence>
                                          </xsd:complexType>
                                       </xsd:element>
                                       <xsd:element name="billingAccountId" type="xsd:string"/>
                                       <xsd:element name="catalogRefId" type="xsd:string"/>
                                       <xsd:element name="customerAccountId" type="xsd:string"/>
                                       <xsd:element name="assetId" type="xsd:string"/>
                                       <xsd:element name="externalPriceDetails">
                                          <xsd:complexType>
                                             <xsd:sequence>
                                                <xsd:element name="externalPriceQuantity" type="xsd:integer"/>
                                                <xsd:element name="externalPrice" type="xsd:integer"/>
                                             </xsd:sequence>
                                          </xsd:complexType>
                                       </xsd:element>
                                       <xsd:element name="actionCode" type="xsd:string"/>
                                       <xsd:element name="activationDate" type="xsd:string"/>
                                       <xsd:element name="serviceId" type="xsd:string"/>
                                       <xsd:element name="commerceItems">
                                          <xsd:complexType>
                                             <xsd:sequence>
                                                <xsd:element name="serviceAccountId" type="xsd:string"/>
                                                <xsd:element name="deactivationDate" type="xsd:string"/>
                                                <xsd:element name="quantity" type="xsd:integer"/>
                                                <xsd:element name="productId" type="xsd:string"/>
                                                <xsd:element name="externalData">
                                                   <xsd:complexType>
                                                      <xsd:sequence>
                                                         <xsd:element name="values">
                                                            <xsd:complexType>
                                                               <xsd:sequence>
                                                                  <xsd:element name="dynamic_property_key" type="xsd:string"/>
                                                               </xsd:sequence>
                                                            </xsd:complexType>
                                                         </xsd:element>
                                                         <xsd:element name="name" type="xsd:string"/>
                                                         <xsd:element name="actionCode" type="xsd:string"/>
                                                      </xsd:sequence>
                                                   </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element name="billingAccountId" type="xsd:string"/>
                                                <xsd:element name="catalogRefId" type="xsd:string"/>
                                                <xsd:element name="customerAccountId" type="xsd:string"/>
                                                <xsd:element name="assetId" type="xsd:string"/>
                                                <xsd:element name="externalPriceDetails">
                                                   <xsd:complexType>
                                                      <xsd:sequence>
                                                         <xsd:element name="externalPriceQuantity" type="xsd:integer"/>
                                                         <xsd:element name="externalPrice" type="xsd:integer"/>
                                                      </xsd:sequence>
                                                   </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element name="actionCode" type="xsd:string"/>
                                                <xsd:element name="activationDate" type="xsd:string"/>
                                                <xsd:element name="serviceId" type="xsd:string"/>
                                                <xsd:element name="commerceItems">
                                                   <xsd:complexType>
                                                      <xsd:sequence>
                                                         <xsd:element name="serviceAccountId" type="xsd:string"/>
                                                         <xsd:element name="deactivationDate" type="xsd:string"/>
                                                         <xsd:element name="quantity" type="xsd:integer"/>
                                                         <xsd:element name="productId" type="xsd:string"/>
                                                         <xsd:element name="externalData">
                                                            <xsd:complexType>
                                                               <xsd:sequence>
                                                                  <xsd:element name="values">
                                                                     <xsd:complexType>
                                                                        <xsd:sequence>
                                                                           <xsd:element name="dynamic_property_key" type="xsd:string"/>
                                                                        </xsd:sequence>
                                                                     </xsd:complexType>
                                                                  </xsd:element>
                                                                  <xsd:element name="name" type="xsd:string"/>
                                                                  <xsd:element name="actionCode" type="xsd:string"/>
                                                               </xsd:sequence>
                                                            </xsd:complexType>
                                                         </xsd:element>
                                                         <xsd:element name="billingAccountId" type="xsd:string"/>
                                                         <xsd:element name="catalogRefId" type="xsd:string"/>
                                                         <xsd:element name="customerAccountId" type="xsd:string"/>
                                                         <xsd:element name="assetId" type="xsd:string"/>
                                                         <xsd:element name="externalPriceDetails">
                                                            <xsd:complexType>
                                                               <xsd:sequence>
                                                                  <xsd:element name="externalPriceQuantity" type="xsd:integer"/>
                                                                  <xsd:element name="externalPrice" type="xsd:integer"/>
                                                               </xsd:sequence>
                                                            </xsd:complexType>
                                                         </xsd:element>
                                                         <xsd:element name="actionCode" type="xsd:string"/>
                                                         <xsd:element name="activationDate" type="xsd:string"/>
                                                         <xsd:element name="serviceId" type="xsd:string"/>
                                                         <xsd:element name="commerceItems">
                                                            <xsd:complexType>
                                                               <xsd:sequence>
                                                                  <xsd:element name="serviceAccountId" type="xsd:string"/>
                                                                  <xsd:element name="deactivationDate" type="xsd:string"/>
                                                                  <xsd:element name="quantity" type="xsd:integer"/>
                                                                  <xsd:element name="productId" type="xsd:string"/>
                                                                  <xsd:element name="externalData">
                                                                     <xsd:complexType>
                                                                        <xsd:sequence>
                                                                           <xsd:element name="values">
                                                                              <xsd:complexType>
                                                                                 <xsd:sequence>
                                                                                    <xsd:element name="dynamic_property_key" type="xsd:string"/>
                                                                                 </xsd:sequence>
                                                                              </xsd:complexType>
                                                                           </xsd:element>
                                                                           <xsd:element name="name" type="xsd:string"/>
                                                                           <xsd:element name="actionCode" type="xsd:string"/>
                                                                        </xsd:sequence>
                                                                     </xsd:complexType>
                                                                  </xsd:element>
                                                                  <xsd:element name="billingAccountId" type="xsd:string"/>
                                                                  <xsd:element name="catalogRefId" type="xsd:string"/>
                                                                  <xsd:element name="customerAccountId" type="xsd:string"/>
                                                                  <xsd:element name="assetId" type="xsd:string"/>
                                                                  <xsd:element name="externalPriceDetails">
                                                                     <xsd:complexType>
                                                                        <xsd:sequence>
                                                                           <xsd:element name="externalPriceQuantity" type="xsd:integer"/>
                                                                           <xsd:element name="externalPrice" type="xsd:integer"/>
                                                                        </xsd:sequence>
                                                                     </xsd:complexType>
                                                                  </xsd:element>
                                                                  <xsd:element name="actionCode" type="xsd:string"/>
                                                                  <xsd:element name="activationDate" type="xsd:string"/>
                                                                  <xsd:element name="serviceId" type="xsd:string"/>
                                                                  <xsd:element name="commerceItems">
                                                                     <xsd:complexType>
                                                                        <xsd:sequence>
                                                                           <xsd:element name="serviceAccountId" type="xsd:string"/>
                                                                           <xsd:element name="deactivationDate" type="xsd:string"/>
                                                                           <xsd:element name="quantity" type="xsd:integer"/>
                                                                           <xsd:element name="productId" type="xsd:string"/>
                                                                           <xsd:element name="externalData">
                                                                              <xsd:complexType>
                                                                                 <xsd:sequence>
                                                                                    <xsd:element name="values">
                                                                                       <xsd:complexType>
                                                                                          <xsd:sequence>
                                                                                             <xsd:element name="dynamic_property_key" type="xsd:string"/>
                                                                                          </xsd:sequence>
                                                                                       </xsd:complexType>
                                                                                    </xsd:element>
                                                                                    <xsd:element name="name" type="xsd:string"/>
                                                                                    <xsd:element name="actionCode" type="xsd:string"/>
                                                                                 </xsd:sequence>
                                                                              </xsd:complexType>
                                                                           </xsd:element>
                                                                           <xsd:element name="billingAccountId" type="xsd:string"/>
                                                                           <xsd:element name="catalogRefId" type="xsd:string"/>
                                                                           <xsd:element name="customerAccountId" type="xsd:string"/>
                                                                           <xsd:element name="assetId" type="xsd:string"/>
                                                                           <xsd:element name="externalPriceDetails">
                                                                              <xsd:complexType>
                                                                                 <xsd:sequence>
                                                                                    <xsd:element name="externalPriceQuantity" type="xsd:integer"/>
                                                                                    <xsd:element name="externalPrice" type="xsd:integer"/>
                                                                                 </xsd:sequence>
                                                                              </xsd:complexType>
                                                                           </xsd:element>
                                                                           <xsd:element name="actionCode" type="xsd:string"/>
                                                                           <xsd:element name="activationDate" type="xsd:string"/>
                                                                           <xsd:element name="serviceId" type="xsd:string"/>
                                                                           <xsd:element name="commerceItems">
                                                                              <xsd:complexType>
                                                                                 <xsd:sequence>
                                                                                    <xsd:element name="serviceAccountId" type="xsd:string"/>
                                                                                    <xsd:element name="deactivationDate" type="xsd:string"/>
                                                                                    <xsd:element name="quantity" type="xsd:integer"/>
                                                                                    <xsd:element name="productId" type="xsd:string"/>
                                                                                    <xsd:element name="externalData">
                                                                                       <xsd:complexType>
                                                                                          <xsd:sequence>
                                                                                             <xsd:element name="values">
                                                                                                <xsd:complexType>
                                                                                                   <xsd:sequence>
                                                                                                      <xsd:element name="dynamic_property_key" type="xsd:string"/>
                                                                                                   </xsd:sequence>
                                                                                                </xsd:complexType>
                                                                                             </xsd:element>
                                                                                             <xsd:element name="name" type="xsd:string"/>
                                                                                             <xsd:element name="actionCode" type="xsd:string"/>
                                                                                          </xsd:sequence>
                                                                                       </xsd:complexType>
                                                                                    </xsd:element>
                                                                                    <xsd:element name="billingAccountId" type="xsd:string"/>
                                                                                    <xsd:element name="catalogRefId" type="xsd:string"/>
                                                                                    <xsd:element name="customerAccountId" type="xsd:string"/>
                                                                                    <xsd:element name="assetId" type="xsd:string"/>
                                                                                    <xsd:element name="externalPriceDetails">
                                                                                       <xsd:complexType>
                                                                                          <xsd:sequence>
                                                                                             <xsd:element name="externalPriceQuantity" type="xsd:integer"/>
                                                                                             <xsd:element name="externalPrice" type="xsd:integer"/>
                                                                                          </xsd:sequence>
                                                                                       </xsd:complexType>
                                                                                    </xsd:element>
                                                                                    <xsd:element name="actionCode" type="xsd:string"/>
                                                                                    <xsd:element name="activationDate" type="xsd:string"/>
                                                                                    <xsd:element name="serviceId" type="xsd:string"/>
                                                                                    <xsd:element name="commerceItems">
                                                                                       <xsd:complexType>
                                                                                          <xsd:sequence>
                                                                                             <xsd:element name="serviceAccountId" type="xsd:string"/>
                                                                                             <xsd:element name="deactivationDate" type="xsd:string"/>
                                                                                             <xsd:element name="quantity" type="xsd:integer"/>
                                                                                             <xsd:element name="productId" type="xsd:string"/>
                                                                                             <xsd:element name="externalData">
                                                                                                <xsd:complexType>
                                                                                                   <xsd:sequence>
                                                                                                      <xsd:element name="values">
                                                                                                         <xsd:complexType>
                                                                                                            <xsd:sequence>
                                                                                                               <xsd:element name="dynamic_property_key" type="xsd:string"/>
                                                                                                            </xsd:sequence>
                                                                                                         </xsd:complexType>
                                                                                                      </xsd:element>
                                                                                                      <xsd:element name="name" type="xsd:string"/>
                                                                                                      <xsd:element name="actionCode" type="xsd:string"/>
                                                                                                   </xsd:sequence>
                                                                                                </xsd:complexType>
                                                                                             </xsd:element>
                                                                                             <xsd:element name="billingAccountId" type="xsd:string"/>
                                                                                             <xsd:element name="catalogRefId" type="xsd:string"/>
                                                                                             <xsd:element name="customerAccountId" type="xsd:string"/>
                                                                                             <xsd:element name="assetId" type="xsd:string"/>
                                                                                             <xsd:element name="externalPriceDetails">
                                                                                                <xsd:complexType>
                                                                                                   <xsd:sequence>
                                                                                                      <xsd:element name="externalPriceQuantity" type="xsd:integer"/>
                                                                                                      <xsd:element name="externalPrice" type="xsd:integer"/>
                                                                                                   </xsd:sequence>
                                                                                                </xsd:complexType>
                                                                                             </xsd:element>
                                                                                             <xsd:element name="actionCode" type="xsd:string"/>
                                                                                             <xsd:element name="activationDate" type="xsd:string"/>
                                                                                             <xsd:element name="serviceId" type="xsd:string"/>
                                                                                             <xsd:element name="commerceItems">
                                                                                                <xsd:complexType>
                                                                                                   <xsd:sequence>
                                                                                                      <xsd:element name="serviceAccountId" type="xsd:string"/>
                                                                                                      <xsd:element name="deactivationDate" type="xsd:string"/>
                                                                                                      <xsd:element name="quantity" type="xsd:integer"/>
                                                                                                      <xsd:element name="productId" type="xsd:string"/>
                                                                                                      <xsd:element name="externalData">
                                                                                                         <xsd:complexType>
                                                                                                            <xsd:sequence>
                                                                                                               <xsd:element name="values">
                                                                                                                  <xsd:complexType>
                                                                                                                     <xsd:sequence>
                                                                                                                        <xsd:element name="dynamic_property_key" type="xsd:string"/>
                                                                                                                     </xsd:sequence>
                                                                                                                  </xsd:complexType>
                                                                                                               </xsd:element>
                                                                                                               <xsd:element name="name" type="xsd:string"/>
                                                                                                               <xsd:element name="actionCode" type="xsd:string"/>
                                                                                                            </xsd:sequence>
                                                                                                         </xsd:complexType>
                                                                                                      </xsd:element>
                                                                                                      <xsd:element name="billingAccountId" type="xsd:string"/>
                                                                                                      <xsd:element name="catalogRefId" type="xsd:string"/>
                                                                                                      <xsd:element name="customerAccountId" type="xsd:string"/>
                                                                                                      <xsd:element name="assetId" type="xsd:string"/>
                                                                                                      <xsd:element name="externalPriceDetails">
                                                                                                         <xsd:complexType>
                                                                                                            <xsd:sequence>
                                                                                                               <xsd:element name="externalPriceQuantity" type="xsd:integer"/>
                                                                                                               <xsd:element name="externalPrice" type="xsd:integer"/>
                                                                                                            </xsd:sequence>
                                                                                                         </xsd:complexType>
                                                                                                      </xsd:element>
                                                                                                      <xsd:element name="actionCode" type="xsd:string"/>
                                                                                                      <xsd:element name="activationDate" type="xsd:string"/>
                                                                                                      <xsd:element name="serviceId" type="xsd:string"/>
                                                                                                      <xsd:element name="commerceItems">
                                                                                                         <xsd:complexType>
                                                                                                            <xsd:sequence>
                                                                                                               <xsd:element name="serviceAccountId" type="xsd:string"/>
                                                                                                               <xsd:element name="deactivationDate" type="xsd:string"/>
                                                                                                               <xsd:element name="quantity" type="xsd:integer"/>
                                                                                                               <xsd:element name="productId" type="xsd:string"/>
                                                                                                               <xsd:element name="externalData">
                                                                                                                  <xsd:complexType>
                                                                                                                     <xsd:sequence>
                                                                                                                        <xsd:element name="values">
                                                                                                                           <xsd:complexType>
                                                                                                                              <xsd:sequence>
                                                                                                                                 <xsd:element name="dynamic_property_key" type="xsd:string"/>
                                                                                                                              </xsd:sequence>
                                                                                                                           </xsd:complexType>
                                                                                                                        </xsd:element>
                                                                                                                        <xsd:element name="name" type="xsd:string"/>
                                                                                                                        <xsd:element name="actionCode" type="xsd:string"/>
                                                                                                                     </xsd:sequence>
                                                                                                                  </xsd:complexType>
                                                                                                               </xsd:element>
                                                                                                               <xsd:element name="billingAccountId" type="xsd:string"/>
                                                                                                               <xsd:element name="catalogRefId" type="xsd:string"/>
                                                                                                               <xsd:element name="customerAccountId" type="xsd:string"/>
                                                                                                               <xsd:element name="assetId" type="xsd:string"/>
                                                                                                               <xsd:element name="externalPriceDetails">
                                                                                                                  <xsd:complexType>
                                                                                                                     <xsd:sequence>
                                                                                                                        <xsd:element name="externalPriceQuantity" type="xsd:integer"/>
                                                                                                                        <xsd:element name="externalPrice" type="xsd:integer"/>
                                                                                                                     </xsd:sequence>
                                                                                                                  </xsd:complexType>
                                                                                                               </xsd:element>
                                                                                                               <xsd:element name="actionCode" type="xsd:string"/>
                                                                                                               <xsd:element name="activationDate" type="xsd:string"/>
                                                                                                               <xsd:element name="serviceId" type="xsd:string"/>
                                                                                                               <xsd:element name="commerceItems">
                                                                                                                  <xsd:complexType>
                                                                                                                     <xsd:sequence>
                                                                                                                        <xsd:element name="serviceAccountId" type="xsd:string"/>
                                                                                                                        <xsd:element name="deactivationDate" type="xsd:string"/>
                                                                                                                        <xsd:element name="quantity" type="xsd:integer"/>
                                                                                                                        <xsd:element name="productId" type="xsd:string"/>
                                                                                                                        <xsd:element name="externalData">
                                                                                                                           <xsd:complexType>
                                                                                                                              <xsd:sequence>
                                                                                                                                 <xsd:element name="values">
                                                                                                                                    <xsd:complexType>
                                                                                                                                       <xsd:sequence>
                                                                                                                                          <xsd:element name="dynamic_property_key" type="xsd:string"/>
                                                                                                                                       </xsd:sequence>
                                                                                                                                    </xsd:complexType>
                                                                                                                                 </xsd:element>
                                                                                                                                 <xsd:element name="name" type="xsd:string"/>
                                                                                                                                 <xsd:element name="actionCode" type="xsd:string"/>
                                                                                                                              </xsd:sequence>
                                                                                                                           </xsd:complexType>
                                                                                                                        </xsd:element>
                                                                                                                        <xsd:element name="billingAccountId" type="xsd:string"/>
                                                                                                                        <xsd:element name="catalogRefId" type="xsd:string"/>
                                                                                                                        <xsd:element name="customerAccountId" type="xsd:string"/>
                                                                                                                        <xsd:element name="assetId" type="xsd:string"/>
                                                                                                                        <xsd:element name="externalPriceDetails">
                                                                                                                           <xsd:complexType>
                                                                                                                              <xsd:sequence>
                                                                                                                                 <xsd:element name="externalPriceQuantity" type="xsd:integer"/>
                                                                                                                                 <xsd:element name="externalPrice" type="xsd:integer"/>
                                                                                                                              </xsd:sequence>
                                                                                                                           </xsd:complexType>
                                                                                                                        </xsd:element>
                                                                                                                        <xsd:element name="actionCode" type="xsd:string"/>
                                                                                                                        <xsd:element name="activationDate" type="xsd:string"/>
                                                                                                                        <xsd:element name="serviceId" type="xsd:string"/>
                                                                                                                        <xsd:element name="commerceItems"/>
                                                                                                                     </xsd:sequence>
                                                                                                                  </xsd:complexType>
                                                                                                               </xsd:element>
                                                                                                            </xsd:sequence>
                                                                                                         </xsd:complexType>
                                                                                                      </xsd:element>
                                                                                                   </xsd:sequence>
                                                                                                </xsd:complexType>
                                                                                             </xsd:element>
                                                                                          </xsd:sequence>
                                                                                       </xsd:complexType>
                                                                                    </xsd:element>
                                                                                 </xsd:sequence>
                                                                              </xsd:complexType>
                                                                           </xsd:element>
                                                                        </xsd:sequence>
                                                                     </xsd:complexType>
                                                                  </xsd:element>
                                                               </xsd:sequence>
                                                            </xsd:complexType>
                                                         </xsd:element>
                                                      </xsd:sequence>
                                                   </xsd:complexType>
                                                </xsd:element>
                                             </xsd:sequence>
                                          </xsd:complexType>
                                       </xsd:element>
                                    </xsd:sequence>
                                 </xsd:complexType>
                              </xsd:element>
                              <xsd:element name="serviceAccountId" type="xsd:string"/>
                              <xsd:element name="quantity" type="xsd:integer"/>
                              <xsd:element name="productId" type="xsd:string"/>
                              <xsd:element name="externalId" type="xsd:string"/>
                              <xsd:element name="catalogRefId" type="xsd:string"/>
                              <xsd:element name="customerAccountId" type="xsd:string"/>
                              <xsd:element name="productDisplayName" type="xsd:string"/>
                              <xsd:element name="catalogKey" type="xsd:string"/>
                              <xsd:element name="activationDate" type="xsd:string"/>
                              <xsd:element name="backOrderQuantity" type="xsd:integer"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
<xsd:annotation xmlns="">
      <xsd:appinfo>NXSDSAMPLE=</xsd:appinfo>
      <xsd:appinfo>USEHEADER=false</xsd:appinfo>
   </xsd:annotation>
</xsd:schema>