PASSSBWebhookOrderSubmit/v1/Resources/OCCWebhookFailedMessages.wsdl

<wsdl:definitions name="OCCWebhookFailedMessages" targetNamespace="http://xmlns.oracle.com/SBAplPassarela/PASSSBWebhookOrderSubmit/OCCWebhookFailedMessages" xmlns:tns="http://xmlns.oracle.com/SBAplPassarela/PASSSBWebhookOrderSubmit/OCCWebhookFailedMessages" xmlns:inp1="http://TargetNamespace.com/OCCWebhookFailedMessages_getFailedMessages_response" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:inp2="http://TargetNamespace.com/OCCWebhookFailedMessages_updateFailedMessages_request" xmlns:inp3="http://TargetNamespace.com/OCCWebhookFailedMessages_updateFailedMessages_response">
    <plnk:partnerLinkType name="OCCWebhookFailedMessages">
        <plnk:role name="OCCWebhookFailedMessagesProvider" portType="tns:OCCWebhookFailedMessages_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/OCCWebhookFailedMessages_getFailedMessages_response" schemaLocation="nxsd_GetFailedMessagesRes.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/OCCWebhookFailedMessages_updateFailedMessages_request" schemaLocation="nxsd_UpdateFailedMessagesReq.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/OCCWebhookFailedMessages_updateFailedMessages_response" schemaLocation="nxsd_UpdateFailedMessagesRes.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="Rest_EmptyMessage"/>
    <wsdl:message name="getFailedMessages_outputMessage">
        <wsdl:part name="reply" element="inp1:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="getFailedMessages_fault1Message">
        <wsdl:part name="fault_fault1" element="inp1:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="updateFailedMessages_inputMessage">
        <wsdl:part name="request" element="inp2:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="updateFailedMessages_outputMessage">
        <wsdl:part name="reply" element="inp3:Root-Element"/>
    </wsdl:message>
    <wsdl:portType name="OCCWebhookFailedMessages_ptt">
        <wsdl:operation name="getFailedMessages">
            <wsdl:input message="tns:Rest_EmptyMessage"/>
            <wsdl:output message="tns:getFailedMessages_outputMessage"/>
            <wsdl:fault name="fault1" message="tns:getFailedMessages_fault1Message"/>
        </wsdl:operation>
        <wsdl:operation name="updateFailedMessages">
            <wsdl:input message="tns:updateFailedMessages_inputMessage"/>
            <wsdl:output message="tns:updateFailedMessages_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="OCCWebhookFailedMessages_ptt-binding" type="tns:OCCWebhookFailedMessages_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getFailedMessages">
            <soap:operation soapAction="getFailedMessages"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateFailedMessages">
            <soap:operation soapAction="updateFailedMessages"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>